<%- include('header', {currentMenu: 'alarms-history', pageTitle: 'Alarms History'}); %>
    <div class="row m-0 mt-2">
        <div class="col-lg-12 pt-0 pb-0 pl-2 pr-2">
            <h2 id="head-loader">Alarms History</h2>
        </div>
    </div>
    <div class="row m-0 mt-2">
        <div class="col-lg-12 pt-0 pb-0 pl-2 pr-2">
            <form>
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-row" id="alert-div" style="display:none;">
                            <div class="col-md-12" id="alert-div-area"></div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4">
                                <h5>From</h5>
                            </div>
                            <div class="col-md-4">
                                <h5>To</h5>
                            </div>
                            <div class="col-md-4">
                                
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-2">
                                <input type="text" class="form-control" id="from_date" placeholder="From date">
                            </div>
                            <div class="col-md-1">
                                <select class="form-control" id="from_date_hour"></select>
                            </div>
                            <div class="col-md-1">
                                <select class="form-control" id="from_date_minute"></select>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" id="to_date" placeholder="To date">
                            </div>
                            <div class="col-md-1">
                                <select class="form-control" id="to_date_hour"></select>
                            </div>
                            <div class="col-md-1">
                                <select class="form-control" id="to_date_minute"></select>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-primary" id="filter_submit_btn2">Filter</button>
                                <input type="hidden" id="start_timestamp2">
                                <input type="hidden" id="end_timestamp2">
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row m-0 mt-2">
        <div class="col-lg-12 pt-0 pb-0 pl-2 pr-2">
            
            <table class="table table-sm table-bordered" id="alarm_table">
                <thead>
                <tr>
                    <th width="20%">Timestamp</th>
                    <th width="10%">Duration</th>
                    <th width="10%">Class</th>
                    <th width="10%">Location</th>
                    <th width="20%">Description</th>
                    <th width="20%">Variable Name</th>
                </tr>
                </thead>
                <tbody id="active_alarm_tbody">
                </tbody>
                <tfoot>
                    <tr>
                        <th>Timestamp</th>
                        <th>Duration</th>
                        <th>Class</th>
                        <th>Location</th>
                        <th>Description</th>
                        <th>Variable Name</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<%- include('footer', {currentMenu: 'alarms_history'}); %>
<script src="js/jquery-bootstrap.js"></script>
<script src="js/nav.js"></script>
<script src="js/datatables/datatables.js"></script>
<script src="js/jszip.min.js"></script>
<script src="js/daterangepicker/moment.min.js"></script>
<script src="js/datepicker/bootstrap-datepicker.min.js"></script>
<script>
let alarm_class_to_names = {"0" : "Error", "1" : "Warning", "2" : "Message"};
let data_table;
let machine_mode = 9;

function load_hour_minute_dropdowns() {
    let hours_html, minutes_html;
    for(var i=0; i<24; i++) {
        let v = i;
        if(i<10) {
            v = "0" + i;
        }
        hours_html += '<option value="'+ v +'">' + v + '</option>';
    }

    for(var i=0; i<60; i++) {
        let v = i;
        if(i<10) {
            v = "0" + i;
        }
        minutes_html += '<option value="'+ v +'">' + v + '</option>';
    }

    jQuery("#from_date_hour").html(hours_html);
    jQuery("#from_date_minute").html(minutes_html);
    jQuery("#to_date_hour").html(hours_html);
    jQuery("#to_date_minute").html(minutes_html);
}

jQuery(document).ready(function() {
    
    load_hour_minute_dropdowns();

    jQuery("#filter_submit_btn2").click(function() {
        let date_ok = 1;
        let from_date = jQuery("#from_date").val();
        let from_date_hour = jQuery("#from_date_hour").val();
        let from_date_minute = jQuery("#from_date_minute").val();

        let to_date = jQuery("#to_date").val();
        let to_date_hour = jQuery("#to_date_hour").val();
        let to_date_minute = jQuery("#to_date_minute").val();

        if(from_date.trim().length === 0) {
            date_ok = 0;
        }

        if(to_date.trim().length === 0) {
            date_ok = 0;
        }

        if(date_ok === 0) {
            jQuery("#alert-div-area").empty();
            let alert_div_html = '<div class="alert alert-warning alert-dismissible fade show" role="alert">' +
                                    '<strong id="alert-div-text">Please select dates correctly</strong>' +
                                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                        '<span aria-hidden="true">&times;</span>' +
                                    '</button>' +
                                '</div>';
            jQuery("#alert-div-area").html(alert_div_html);
            jQuery("#alert-div").show();
        } else {
            let from_date_time = from_date + " " + from_date_hour + ":" + from_date_minute;
            let to_date_time = to_date + " " + to_date_hour + ":" + to_date_minute;

            var from_timestamp = moment(from_date_time, "M-D-YYYY HH:mm").unix();
            var to_timestamp = moment(to_date_time, "M/D/YYYY HH:mm").unix();
            if(from_timestamp > to_timestamp) {
                jQuery("#alert-div-area").empty();
                let alert_div_html = '<div class="alert alert-warning alert-dismissible fade show" role="alert">' +
                                        '<strong id="alert-div-text">Please select date times correctly</strong>' +
                                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                            '<span aria-hidden="true">&times;</span>' +
                                        '</button>' +
                                    '</div>';
                jQuery("#alert-div-area").html(alert_div_html);
                jQuery("#alert-div").show();
                
            } else {
                jQuery("#alert-div").hide();
                ipcRenderer.send("get:filtered_alarm_history", selected_machine, from_timestamp, to_timestamp);
                jQuery("#head-loader").html('Alarms History <img src="./resources/loading.gif">');
            }
            
        }
        
    });

    jQuery("#from_date").datepicker({
        autoclose: true,
        format: 'mm-dd-yyyy'
    });

    jQuery("#to_date").datepicker({
        autoclose: true,
        format: 'mm-dd-yyyy'
    });

    jQuery("#ip_list_dropdown").change(function() {
        selected_machine = jQuery(this).val();

        if(selected_machine !== "") {
            let selected_machine_name = machine_list[selected_machine];
            jQuery("#display_machine_name").text(selected_machine_name);
        } else {
            jQuery("#display_machine_name").text("Select a machine");
            selected_machine = 0;
        }

        ipcRenderer.send("get:views", selected_machine, "alarms_history");
        jQuery("#head-loader").html('Alarms History <img src="./resources/loading.gif">');
    });

    data_table = jQuery('#alarm_table').DataTable({
        dom: 'Bfrtip',
        buttons: [
        {
            extend: 'csv',
            fieldSeparator: ";",
            text: 'Export'
        }],
        "columns": [
            null,
            { "orderable": false },
            null,
            null,
            { "orderable": false },
            { "orderable": false },
        ],
        "order": [],
        initComplete: function () {
            this.api().columns().every(function () {
                var column = this;
                
                if (column.index() === 2 || column.index() === 3) {
                    let select_txt = "";
                    let select_id = "";
                    if(column.index() === 2) {
                        select_txt = "Select class";
                        select_id = "class_filter";
                    } else {
                        select_txt = "Select location";
                        select_id = "location_filter";
                    }

                    //$(column.header()).append("<br>")
                    var select = jQuery('<select class="form-control form-control-sm d-inline-block" id="'+ select_id +'"><option value="">'+ select_txt +'</option></select>').appendTo( $(column.footer()).empty() ).on('change', function () {
                        var val = jQuery.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
        
                        column.search(val ? '^' + val + '$' : '', true, false).draw();
                    });
                } //else if (column.index() === 0) {
                    //$(column.header()).append("<br>")
                    //var select = jQuery('<input type="text" id="daterange" class="form-control form-control-sm d-inline-block">').appendTo( $(column.footer()).empty() );
                //}
        
            });
        }
    });
});

// Date range filter
minDateFilter = "";
maxDateFilter = "";

$.fn.dataTableExt.afnFiltering.push(
    function(oSettings, aData, iDataIndex) {
        if (typeof aData._date == 'undefined') {
            aData._date = new Date(aData[0]).getTime();
        }

        if (minDateFilter && !isNaN(minDateFilter)) {
            if (aData._date < minDateFilter) {
                return false;
            }
        }

        if (maxDateFilter && !isNaN(maxDateFilter)) {
            if (aData._date > maxDateFilter) {
                return false;
            }
        }

        return true;
    }
);

ipcRenderer.on("render:alarms_history", function(e, alarms_history_result, alarms_data_result, machine_mode_from_server) {
    machine_mode = machine_mode_from_server;
    changeMachineNameBg(machine_mode);
    //console.log("Mode: ", machine_mode);
    //console.log(alarms_history_result);
    //console.log(alarms_data_result);
    data_table.clear().search( '' ).columns().search( '' ).draw();

    //for (let k in alarms_result) {
    alarms_history_result.forEach(function(history_row){
        
        let related_alarm_type = history_row['at'], 
        related_alarm_id = history_row['aid'], 
        related_machine_id = history_row['mid'],
        related_active_timestamp = history_row['t'],
        related_inactive_timestamp = history_row['i'],
        related_duration = history_row['duration'];

        related_active_timestamp = timeConverter(related_active_timestamp);

        let combo_id = related_machine_id + "" + related_alarm_id + "" + related_alarm_type;
        let related_alarm_data = alarms_data_result[combo_id];

        data_table.row.add( [
            related_active_timestamp,
            secondsToDhms(related_duration),
            alarm_class_to_names[related_alarm_data['alarm_class']],
            related_alarm_data['location'],
            related_alarm_data['description'],
            related_alarm_data['variable_name']
        ] ).draw( false );

        //jQuery("#active_alarm_tbody").append(tr_html);
    });

    data_table.columns().every(function () {
        var column = this;
        
        if (column.index() === 2 || column.index() === 3) {
            let select_txt = "";
            let select_id = "";
            if(column.index() === 2) {
                select_txt = "Select class";
                select_id = "#class_filter";
            } else {
                select_txt = "Select location";
                select_id = "#location_filter";
            }
            
            let select = $(select_id);
            column.data().unique().sort().each(function (d, j) {
                //console.log(d);
                select.append('<option value="' + d + '">' + d + '</option>')
            });
        }
    });

    jQuery("#head-loader").html('Alarms History');
});
</script>
</body>
</html>