<%- include('header', {currentMenu: '', pageTitle: 'Induct Lines'}); %>
    <style type="text/css">
        #svg-holder {
            text-align: center;
        }
        #svg-holder svg {
            height: 500px;
            width: 500px;
        }
        #mod-sort-title {
            font-weight: 500;
            margin: 0;
            padding-bottom: 0;
        }
    </style>
    <div class="row m-0">
        <div class="col-lg-12 pt-0 pb-0 text-center">
            <h3 id="induct-title"></h3>
        </div>
    </div>
    <div class="row" id="big-chart-area">
        <div class="col-lg-12" id="tput-chart" style="height: 200px;">TPUT Chart</div>
    </div>
    <div class="row m-0" id="big-hourglass-area">
        <div class="col-lg-12 text-center" style="height: 400px; position: relative;">
            <div style="position: absolute; top: 50%; left: 50%;">
                <img src="./resources/loading.gif">
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-lg-12 mt-2 pt-0 pb-0" id="svg-display-area">
        </div>
    </div>
    <div class="row m-0">
        <div class="col-lg-12 pt-0 pb-0 pl-2 pr-2 mt-4">
            <table class="table table-sm table-bordered" id="details_active_alarms_table">
                <thead>
                <tr>
                    <th width="20%">Timestamp</th>
                    <th width="10%">Duration</th>
                    <th width="10%">Class</th>
                    <th width="10%">Location</th>
                    <th width="20%">Description</th>
                    <th width="20%">Variable Name</th>
                </tr>
                </thead>
                <tbody id="active_alarm_tbody">
                    <tr>
                        <td colspan="6">No active alarm to display</td>
                    </tr>
                </tbody>
            </table>
			<div class="row" id="marquee1">
				<div class="col-lg-12">
					<ul id="alarm-ticker"></ul>
				</div>
			</div>
        </div>
    </div>
</div>
<%- include('footer', {currentMenu: 'settings'}); %>
<script src="js/jquery-bootstrap.js"></script>
<script src="js/nav.js"></script>
<script>
const Highcharts = require('highcharts/highstock')
require('highcharts/modules/exporting')(Highcharts);
require('highcharts/modules/export-data')(Highcharts);
let statistics_started = 0;
let machine_mode = 9;
var device_type = 3;
var induct_number = 1;
var local_ip_address = getIPAddress();
let alarm_class_to_names = {"0" : "Error", "1" : "Warning", "2" : "Message"};
var inducts_titles = {
	7: "Priority Pak Induct 5",
	6: "Priority Pak Induct 4",
	5:  "Priority Pak Induct 3",
	4: "Priority Pak Induct 2",
	3: "Priority Pak Induct 1",
	2: "Tfold Induct 2",
	1: "Tfold Induct 1",
};

var current_induct_line_zones = {};

let tfold_svg = `
<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 25.4.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 200" style="enable-background:new 0 0 600 200;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#F1F1F2;}
	.st1{fill:#E5E141;}
	.st2{fill:#C4C403;}
	.st3{fill:#E61515;}
	.st4{fill:#DDDDDD;}
	.st5{fill:#27E22B;}
	.st6{fill:#FFFFFF;}
    .cls-conveyor-0 {
        fill: #6d6e70;
    }

    .cls-conveyor-1 {
        fill: #4f7942;
    }

    .cls-conveyor-2 {
        fill: #4B5320;
    }

    .cls-conveyor-3 {
        fill: red;
    }
</style>
<path class="st0" d="M34.9,83.2h345.3c0.5,0,0.8,0.4,0.8,0.8v0.3c0,0.5-0.4,0.8-0.8,0.8H34.9c-0.5,0-0.8-0.4-0.8-0.8V84
	C34.1,83.6,34.5,83.2,34.9,83.2z"/>
<path class="st0" d="M34.9,115.1h345.3c0.5,0,0.8,0.4,0.8,0.8v0.3c0,0.5-0.4,0.8-0.8,0.8H34.9c-0.5,0-0.8-0.4-0.8-0.8v-0.3
	C34.1,115.4,34.5,115.1,34.9,115.1z"/>
<path class="st0" d="M64.7,120.6h-1v-3.8h-6.6v3.8h-1c-0.4,0-0.8,0.4-0.8,0.8c0,0.4,0.4,0.8,0.8,0.8h8.6c0.4,0,0.8-0.4,0.8-0.8
	C65.4,120.9,65.1,120.6,64.7,120.6z"/>
<path class="st1" d="M59.4,120.2h1.9c1.1,0,2,0.9,2,2v3.5l0,0h-5.8l0,0v-3.5C57.5,121.1,58.3,120.2,59.4,120.2
	C59.4,120.2,59.4,120.2,59.4,120.2z"/>
<path class="st2" d="M59.6,123.4h1.5c0.8,0,1.5,0.7,1.5,1.5l0,0v0.4c0,0.4-0.3,0.8-0.8,0.8H59c-0.4,0-0.8-0.3-0.8-0.8v-0.4
	C58.2,124.1,58.8,123.4,59.6,123.4L59.6,123.4L59.6,123.4z"/>
<circle class="st3" cx="60.4" cy="125.7" r="1.4"/>
<path class="st0" d="M341.1,79.2h1v3.8h6.6v-3.8h1c0.4,0,0.8-0.4,0.8-0.8c0-0.4-0.3-0.7-0.8-0.8h-8.6c-0.4,0-0.8,0.3-0.8,0.8
	C340.3,78.9,340.6,79.2,341.1,79.2C341.1,79.2,341.1,79.2,341.1,79.2z"/>
<path class="st1" d="M346.3,79.6h-1.9c-1.1,0-2-0.9-2-2l0,0v-3.5l0,0h5.9l0,0v3.5C348.3,78.7,347.4,79.6,346.3,79.6
	C346.3,79.6,346.3,79.6,346.3,79.6z"/>
<path class="st2" d="M346.1,76.4h-1.5c-0.8,0-1.5-0.7-1.5-1.5l0,0v-0.4c0-0.4,0.3-0.8,0.8-0.8h2.8c0.4,0,0.8,0.3,0.8,0.8v0.4
	C347.6,75.7,346.9,76.4,346.1,76.4L346.1,76.4L346.1,76.4z"/>
<circle class="st3" cx="345.4" cy="74.2" r="1.4"/>
<path class="st0" d="M534.1,83.1h-29.8V82c0-0.7-0.6-1.3-1.3-1.3h-3.9v-1.9c0-0.7-0.6-1.3-1.3-1.3l0,0c-0.7,0-1.3,0.6-1.3,1.3v1.9
	h-3.3c-0.7,0-1.3,0.6-1.3,1.3v1.1h-3.3c-0.1-0.6-0.6-1.1-1.3-1.1h-7.8c-0.6,0-1.2,0.5-1.3,1.1h-2.6v-5.6c0-0.7-0.6-1.3-1.3-1.3h-0.7
	c-0.7,0-1.3,0.6-1.3,1.3v6.4c-1.5,0.9-2.3,2.5-2.3,4.2v24c0,2.8,2.2,5,5,5h59c2.8,0,5-2.2,5-5v-24C539.1,85.3,536.9,83.1,534.1,83.1
	L534.1,83.1z"/>
<path class="st0" d="M460.1,116.4v1.7c0,1.1-0.9,1.9-2,1.9l0,0h-1.3c-1.1,0-2,0.9-2,1.9v0v0.7c0,1.1,0.9,1.9,2,1.9l0,0h3.2
	c1.1,0,2,0.9,2,1.9v0l0,0c0,1.1,0.9,2,1.9,2c0,0,0,0,0,0h3.2c1.1,0,2-0.9,2-1.9v0l0,0c0-1.1,0.9-1.9,2-1.9h1.4c1.1,0,2-0.9,2-1.9v0
	v-6.2c0-1.1-0.9-1.9-2-1.9l0,0H462C461,114.5,460.1,115.4,460.1,116.4L460.1,116.4z"/>
<path class="st0" d="M462.9,83.1h-75.5c-2.7-0.1-5.1,1.9-5.2,4.7v24.3c0.2,2.7,2.5,4.8,5.2,4.7h17.7v1.3c0,1.7,1.3,3,3,3h3
	c1.7,0,3-1.3,3-3v-1.3h48.8c2.7,0.1,5.1-1.9,5.2-4.7V87.8C467.9,85,465.6,82.9,462.9,83.1z M402.9,112.8V87c0-1.6,1.4-2.9,3-2.9h0.5
	c1.6,0,3,1.3,3,2.9v25.8c0,1.6-1.4,2.9-3,2.9h-0.5C404.3,115.8,402.9,114.5,402.9,112.8L402.9,112.8z M453.6,112.8
	c0,1.6-1.4,2.9-3,2.9h-0.5c-1.6,0-3-1.3-3-2.9V87c0-1.6,1.4-2.9,3-2.9h0.5c1.6,0,3,1.3,3,2.9V112.8z"/>
<path class="st4" d="M38.4,87.6h45.9c2.5,0,4.5,2,4.5,4.5v16c0,2.5-2,4.5-4.5,4.5H38.4c-2.5,0-4.5-2-4.5-4.5v-16
	C33.9,89.6,35.9,87.6,38.4,87.6z"/>
<path id="zone-1" class="st5" d="M84.3,88.1c2.2,0,4,1.8,4,4v16c0,2.2-1.8,4-4,4H38.4c-2.2,0-4-1.8-4-4v-16c0-2.2,1.8-4,4-4H84.3 M84.3,87.1
	H38.4c-2.8,0-5,2.2-5,5v16c0,2.8,2.2,5,5,5h45.9c2.8,0,5-2.2,5-5v-16C89.3,89.4,87.1,87.1,84.3,87.1z"/>
<path class="st4" d="M96.6,87.6h45.9c2.5,0,4.5,2,4.5,4.5v16c0,2.5-2,4.5-4.5,4.5H96.6c-2.5,0-4.5-2-4.5-4.5v-16
	C92.1,89.6,94.1,87.6,96.6,87.6z"/>
<path id="zone-2" class="st5" d="M142.5,88.1c2.2,0,4,1.8,4,4v16c0,2.2-1.8,4-4,4H96.6c-2.2,0-4-1.8-4-4v-16c0-2.2,1.8-4,4-4H142.5 M142.5,87.1
	H96.6c-2.8,0-5,2.2-5,5v16c0,2.8,2.2,5,5,5h45.9c2.8,0,5-2.2,5-5v-16C147.5,89.4,145.3,87.1,142.5,87.1z"/>
<path class="st4" d="M154.8,87.6h45.9c2.5,0,4.5,2,4.5,4.5v16c0,2.5-2,4.5-4.5,4.5h-45.9c-2.5,0-4.5-2-4.5-4.5v-16
	C150.3,89.6,152.3,87.6,154.8,87.6z"/>
<path id="zone-3" class="st5" d="M200.7,88.1c2.2,0,4,1.8,4,4v16c0,2.2-1.8,4-4,4h-45.9c-2.2,0-4-1.8-4-4v-16c0-2.2,1.8-4,4-4H200.7 M200.7,87.1
	h-45.9c-2.8,0-5,2.2-5,5v16c0,2.8,2.2,5,5,5h45.9c2.8,0,5-2.2,5-5v-16C205.7,89.4,203.4,87.1,200.7,87.1z"/>
<path class="st4" d="M213,87.6h45.9c2.5,0,4.5,2,4.5,4.5v16c0,2.5-2,4.5-4.5,4.5H213c-2.5,0-4.5-2-4.5-4.5v-16
	C208.5,89.6,210.5,87.6,213,87.6z"/>
<path id="zone-4" class="st5" d="M258.9,88.1c2.2,0,4,1.8,4,4v16c0,2.2-1.8,4-4,4H213c-2.2,0-4-1.8-4-4v-16c0-2.2,1.8-4,4-4H258.9 M258.9,87.1
	H213c-2.8,0-5,2.2-5,5v16c0,2.8,2.2,5,5,5h45.9c2.8,0,5-2.2,5-5v-16C263.9,89.4,261.6,87.1,258.9,87.1z"/>
<path class="st4" d="M271.1,87.6H317c2.5,0,4.5,2,4.5,4.5v16c0,2.5-2,4.5-4.5,4.5h-45.9c-2.5,0-4.5-2-4.5-4.5v-16
	C266.6,89.6,268.6,87.6,271.1,87.6z"/>
<path id="zone-5" class="st5" d="M317,88.1c2.2,0,4,1.8,4,4v16c0,2.2-1.8,4-4,4h-45.9c-2.2,0-4-1.8-4-4v-16c0-2.2,1.8-4,4-4H317 M317,87.1h-45.9
	c-2.8,0-5,2.2-5,5v16c0,2.8,2.2,5,5,5H317c2.8,0,5-2.2,5-5v-16C322,89.4,319.8,87.1,317,87.1z"/>
<path class="st4" d="M329.3,87.6h45.9c2.5,0,4.5,2,4.5,4.5v16c0,2.5-2,4.5-4.5,4.5h-45.9c-2.5,0-4.5-2-4.5-4.5v-16
	C324.8,89.6,326.8,87.6,329.3,87.6z"/>
<path id="zone-6" class="st5" d="M375.2,88.1c2.2,0,4,1.8,4,4v16c0,2.2-1.8,4-4,4h-45.9c-2.2,0-4-1.8-4-4v-16c0-2.2,1.8-4,4-4H375.2 M375.2,87.1
	h-45.9c-2.8,0-5,2.2-5,5v16c0,2.8,2.2,5,5,5h45.9c2.8,0,5-2.2,5-5v-16C380.2,89.4,378,87.1,375.2,87.1z"/>
<path class="st4" d="M387.5,87.6H463c2.5,0,4.5,2,4.5,4.5v16c0,2.5-2,4.5-4.5,4.5h-75.5c-2.5,0-4.5-2-4.5-4.5v-16
	C383,89.6,385,87.6,387.5,87.6z"/>
<path id="zone-7" class="st5" d="M463,88.1c2.2,0,4,1.8,4,4v16c0,2.2-1.8,4-4,4h-75.5c-2.2,0-4-1.8-4-4v-16c0-2.2,1.8-4,4-4H463 M463,87.1h-75.5
	c-2.8,0-5,2.2-5,5v16c0,2.8,2.2,5,5,5H463c2.8,0,5-2.2,5-5v-16C468,89.4,465.7,87.1,463,87.1z"/>
<path class="st4" d="M475.1,112.6c-2.5,0-4.5-2-4.5-4.5v-16c0-2.5,2-4.5,4.5-4.5H553c2.5,0,4.5,2,4.5,4.5c0,1.2-0.5,2.4-1.4,3.2
	l-16.4,16c-0.8,0.8-2,1.3-3.1,1.3H475.1z"/>
<path id="zone-8" class="st5" d="M553,88.1c2.2,0,4,1.8,4,4c0,1.1-0.4,2.1-1.2,2.9l-16.4,16c-0.7,0.7-1.7,1.1-2.8,1.1h-61.5c-2.2,0-4-1.8-4-4
	v-16c0-2.2,1.8-4,4-4L553,88.1 M553,87.1h-77.9c-2.8,0-5,2.2-5,5v16c0,2.8,2.2,5,5,5h61.5c1.3,0,2.6-0.5,3.5-1.4l16.4-16
	c2-1.9,2-5.1,0.1-7.1C555.7,87.6,554.4,87.1,553,87.1z"/>
<path class="st0" d="M430,93.8h-21.8c-1.9,0-3.4,1.5-3.4,3.4v5.8c0,1.9,1.5,3.4,3.4,3.4H430c1.9,0,3.4-1.5,3.4-3.4v-5.8
	C433.4,95.3,431.9,93.8,430,93.8z M419.1,101.4c0,1.9-1.5,3.4-3.4,3.4h-4.2c-1.9,0-3.4-1.5-3.4-3.4v-2.5c0-1.9,1.5-3.4,3.4-3.4h4.2
	c1.9,0,3.4,1.5,3.4,3.4V101.4z"/>
<path class="st0" d="M131.9,92.3h-24.8c-1.9,0-3.4,1.5-3.4,3.4v8.8c0,1.9,1.5,3.4,3.4,3.4h24.8c1.9,0,3.4-1.5,3.4-3.4v-8.8
	C135.4,93.8,133.8,92.3,131.9,92.3z M118.1,102.9c0,1.9-1.5,3.4-3.4,3.4h-4.2c-1.9,0-3.4-1.5-3.4-3.4c0,0,0,0,0,0v-0.5
	c0-1.9,1.5-3.4,3.4-3.4h4.2c1.9,0,3.4,1.5,3.4,3.4L118.1,102.9z"/>
<path class="st0" d="M190.1,92.3h-24.8c-1.9,0-3.4,1.5-3.4,3.4v8.8c0,1.9,1.5,3.4,3.4,3.4h24.8c1.9,0,3.4-1.5,3.4-3.4v-8.8
	C193.5,93.8,192,92.3,190.1,92.3z M176.2,102.9c0,1.9-1.5,3.4-3.4,3.4h-4.2c-1.9,0-3.4-1.5-3.4-3.4v-0.5c0-1.9,1.5-3.4,3.4-3.4h4.2
	c1.9,0,3.4,1.5,3.4,3.4V102.9z"/>
<path class="st0" d="M474.1,89.1h78c1.1,0,2,0.9,2,2l0,0c0,1.1-0.9,2-2,2h-78c-1.1,0-2-0.9-2-2l0,0C472.1,90,473,89.1,474.1,89.1z"
	/>
<path class="st0" d="M474.1,95h73.2c1.1,0,2,0.9,2,2l0,0c0,1.1-0.9,2-2,2h-73.2c-1.1,0-2-0.9-2-2l0,0C472.1,95.9,473,95,474.1,95z"
	/>
<path class="st0" d="M474.1,101h67.3c1.1,0,2,0.9,2,2l0,0c0,1.1-0.9,2-2,2h-67.3c-1.1,0-2-0.9-2-2l0,0
	C472.1,101.8,473,101,474.1,101z"/>
<path class="st0" d="M474.1,106.9h62.5c1.1,0,2,0.9,2,2l0,0c0,1.1-0.9,2-2,2h-62.5c-1.1,0-2-0.9-2-2l0,0
	C472.1,107.8,473,106.9,474.1,106.9z"/>
<circle id="switch-21" data-toggle="tooltip" data-html="true" title="" class="st6" cx="79.1" cy="79.1" r="3.9"/>
<path d="M82.7,77.6L82.7,77.6c-0.2-0.6-0.6-1.1-1.1-1.5l0,0c-0.3-0.3-0.6-0.5-1-0.6l0,0c-0.2-0.1-0.5-0.2-0.7-0.2l0,0
	c-2.1-0.5-4.2,0.9-4.6,3c-0.1,0.3-0.1,0.6-0.1,0.8c0,0.3,0,0.6,0.1,0.8l0,0l0,0c0.1,0.6,0.4,1.2,0.8,1.7l0,0
	c0.1,0.2,0.3,0.3,0.5,0.5l0,0c0.3,0.3,0.6,0.5,1,0.6l0,0c2,0.8,4.3-0.1,5.1-2.1C83.1,79.6,83.1,78.5,82.7,77.6L82.7,77.6z
	 M75.5,79.1c0-2,1.6-3.6,3.6-3.6c0.2,0,0.4,0,0.5,0l-4.1,4.1C75.5,79.4,75.5,79.3,75.5,79.1L75.5,79.1z M75.8,80.3l4.6-4.6
	c0.4,0.1,0.7,0.3,1,0.6l-5,5C76.1,81.1,75.9,80.7,75.8,80.3L75.8,80.3z M76.8,81.8l5-5c0.3,0.3,0.5,0.7,0.6,1l-4.6,4.6
	C77.5,82.3,77.1,82.1,76.8,81.8L76.8,81.8z M79.1,82.6c-0.2,0-0.4,0-0.5,0l4.1-4.1c0.3,1.9-1,3.8-2.9,4.1
	C79.5,82.6,79.3,82.6,79.1,82.6L79.1,82.6z"/>
<circle id="switch-22" data-toggle="tooltip" data-html="true" title="" class="st6" cx="135.1" cy="79.1" r="3.9"/>
<path d="M138.7,77.6L138.7,77.6c-0.2-0.6-0.6-1.1-1.1-1.5l0,0c-0.3-0.3-0.6-0.5-1-0.6l0,0c-0.2-0.1-0.5-0.2-0.7-0.2l0,0
	c-2.1-0.5-4.2,0.9-4.6,3c-0.1,0.3-0.1,0.6-0.1,0.8c0,0.3,0,0.6,0.1,0.8l0,0l0,0c0.1,0.6,0.4,1.2,0.8,1.7l0,0
	c0.1,0.2,0.3,0.3,0.5,0.5l0,0c0.3,0.3,0.6,0.5,1,0.6l0,0c2,0.8,4.3-0.1,5.1-2.1C139.1,79.6,139.1,78.5,138.7,77.6L138.7,77.6z
	 M131.5,79.1c0-2,1.6-3.6,3.6-3.6c0.2,0,0.4,0,0.5,0l-4.1,4.1C131.5,79.4,131.5,79.3,131.5,79.1L131.5,79.1z M131.8,80.3l4.6-4.6
	c0.4,0.1,0.7,0.3,1,0.6l-5,5C132.1,81.1,131.9,80.7,131.8,80.3L131.8,80.3z M132.8,81.8l5-5c0.3,0.3,0.5,0.7,0.6,1l-4.6,4.6
	C133.5,82.3,133.1,82.1,132.8,81.8L132.8,81.8z M135.1,82.6c-0.2,0-0.4,0-0.5,0l4.1-4.1c0.3,1.9-1,3.8-2.9,4.1
	C135.5,82.6,135.3,82.6,135.1,82.6L135.1,82.6z"/>
<circle id="switch-23" data-toggle="tooltip" data-html="true" title="" class="st6" cx="193.1" cy="79.1" r="3.9"/>
<path d="M196.7,77.6L196.7,77.6c-0.2-0.6-0.6-1.1-1.1-1.5l0,0c-0.3-0.3-0.6-0.5-1-0.6l0,0c-0.2-0.1-0.5-0.2-0.7-0.2l0,0
	c-2.1-0.5-4.2,0.9-4.6,3c-0.1,0.3-0.1,0.6-0.1,0.8c0,0.3,0,0.6,0.1,0.8l0,0l0,0c0.1,0.6,0.4,1.2,0.8,1.7l0,0
	c0.1,0.2,0.3,0.3,0.5,0.5l0,0c0.3,0.3,0.6,0.5,1,0.6l0,0c2,0.8,4.3-0.1,5.1-2.1C197.1,79.6,197.1,78.5,196.7,77.6L196.7,77.6z
	 M189.5,79.1c0-2,1.6-3.6,3.6-3.6c0.2,0,0.4,0,0.5,0l-4.1,4.1C189.5,79.4,189.5,79.3,189.5,79.1L189.5,79.1z M189.8,80.3l4.6-4.6
	c0.4,0.1,0.7,0.3,1,0.6l-5,5C190.1,81.1,189.9,80.7,189.8,80.3L189.8,80.3z M190.8,81.8l5-5c0.3,0.3,0.5,0.7,0.6,1l-4.6,4.6
	C191.5,82.3,191.1,82.1,190.8,81.8L190.8,81.8z M193.1,82.6c-0.2,0-0.4,0-0.5,0l4.1-4.1c0.3,1.9-1,3.8-2.9,4.1
	C193.5,82.6,193.3,82.6,193.1,82.6L193.1,82.6z"/>
<circle id="switch-24" data-toggle="tooltip" data-html="true" title="" class="st6" cx="251.1" cy="79.1" r="3.9"/>
<path d="M254.7,77.6L254.7,77.6c-0.2-0.6-0.6-1.1-1.1-1.5l0,0c-0.3-0.3-0.6-0.5-1-0.6l0,0c-0.2-0.1-0.5-0.2-0.7-0.2l0,0
	c-2.1-0.5-4.2,0.9-4.6,3c-0.1,0.3-0.1,0.6-0.1,0.8c0,0.3,0,0.6,0.1,0.8l0,0l0,0c0.1,0.6,0.4,1.2,0.8,1.7l0,0
	c0.1,0.2,0.3,0.3,0.5,0.5l0,0c0.3,0.3,0.6,0.5,1,0.6l0,0c2,0.8,4.3-0.1,5.1-2.1C255.1,79.6,255.1,78.5,254.7,77.6L254.7,77.6z
	 M247.5,79.1c0-2,1.6-3.6,3.6-3.6c0.2,0,0.4,0,0.5,0l-4.1,4.1C247.5,79.4,247.5,79.3,247.5,79.1L247.5,79.1z M247.8,80.3l4.6-4.6
	c0.4,0.1,0.7,0.3,1,0.6l-5,5C248.1,81.1,247.9,80.7,247.8,80.3L247.8,80.3z M248.8,81.8l5-5c0.3,0.3,0.5,0.7,0.6,1l-4.6,4.6
	C249.5,82.3,249.1,82.1,248.8,81.8L248.8,81.8z M251.1,82.6c-0.2,0-0.4,0-0.5,0l4.1-4.1c0.3,1.9-1,3.8-2.9,4.1
	C251.5,82.6,251.3,82.6,251.1,82.6L251.1,82.6z"/>
<circle id="switch-25" data-toggle="tooltip" data-html="true" title="" class="st6" cx="305.1" cy="79.1" r="3.9"/>
<path d="M308.7,77.6L308.7,77.6c-0.2-0.6-0.6-1.1-1.1-1.5l0,0c-0.3-0.3-0.6-0.5-1-0.6l0,0c-0.2-0.1-0.5-0.2-0.7-0.2l0,0
	c-2.1-0.5-4.2,0.9-4.6,3c-0.1,0.3-0.1,0.6-0.1,0.8c0,0.3,0,0.6,0.1,0.8l0,0l0,0c0.1,0.6,0.4,1.2,0.8,1.7l0,0
	c0.1,0.2,0.3,0.3,0.5,0.5l0,0c0.3,0.3,0.6,0.5,1,0.6l0,0c2,0.8,4.3-0.1,5.1-2.1C309.1,79.6,309.1,78.5,308.7,77.6L308.7,77.6z
	 M301.5,79.1c0-2,1.6-3.6,3.6-3.6c0.2,0,0.4,0,0.5,0l-4.1,4.1C301.5,79.4,301.5,79.3,301.5,79.1L301.5,79.1z M301.8,80.3l4.6-4.6
	c0.4,0.1,0.7,0.3,1,0.6l-5,5C302.1,81.1,301.9,80.7,301.8,80.3L301.8,80.3z M302.8,81.8l5-5c0.3,0.3,0.5,0.7,0.6,1l-4.6,4.6
	C303.5,82.3,303.1,82.1,302.8,81.8L302.8,81.8z M305.1,82.6c-0.2,0-0.4,0-0.5,0l4.1-4.1c0.3,1.9-1,3.8-2.9,4.1
	C305.5,82.6,305.3,82.6,305.1,82.6z"/>
<circle id="switch-26" data-toggle="tooltip" data-html="true" title="" class="st6" cx="365.1" cy="79.1" r="3.9"/>
<path d="M368.7,77.6L368.7,77.6c-0.2-0.6-0.6-1.1-1.1-1.5l0,0c-0.3-0.3-0.6-0.5-1-0.6l0,0c-0.2-0.1-0.5-0.2-0.7-0.2l0,0
	c-2.1-0.5-4.2,0.9-4.6,3c-0.1,0.3-0.1,0.6-0.1,0.8c0,0.3,0,0.6,0.1,0.8l0,0l0,0c0.1,0.6,0.4,1.2,0.8,1.7l0,0
	c0.1,0.2,0.3,0.3,0.5,0.5l0,0c0.3,0.3,0.6,0.5,1,0.6l0,0c2,0.8,4.3-0.1,5.1-2.1C369.1,79.6,369.1,78.5,368.7,77.6L368.7,77.6z
	 M361.5,79.1c0-2,1.6-3.6,3.6-3.6c0.2,0,0.4,0,0.5,0l-4.1,4.1C361.5,79.4,361.5,79.3,361.5,79.1L361.5,79.1z M361.8,80.3l4.6-4.6
	c0.4,0.1,0.7,0.3,1,0.6l-5,5C362.1,81.1,361.9,80.7,361.8,80.3L361.8,80.3z M362.8,81.8l5-5c0.3,0.3,0.5,0.7,0.6,1l-4.6,4.6
	C363.5,82.3,363.1,82.1,362.8,81.8L362.8,81.8z M365.1,82.6c-0.2,0-0.4,0-0.5,0l4.1-4.1c0.3,1.9-1,3.8-2.9,4.1
	C365.5,82.6,365.3,82.6,365.1,82.6z"/>
<circle id="switch-27" data-toggle="tooltip" data-html="true" title="" class="st6" cx="381.1" cy="79.1" r="3.9"/>
<path d="M384.7,77.6L384.7,77.6c-0.2-0.6-0.6-1.1-1.1-1.5l0,0c-0.3-0.3-0.6-0.5-1-0.6l0,0c-0.2-0.1-0.5-0.2-0.7-0.2l0,0
	c-2.1-0.5-4.2,0.9-4.6,3c-0.1,0.3-0.1,0.6-0.1,0.8c0,0.3,0,0.6,0.1,0.8l0,0l0,0c0.1,0.6,0.4,1.2,0.8,1.7l0,0
	c0.1,0.2,0.3,0.3,0.5,0.5l0,0c0.3,0.3,0.6,0.5,1,0.6l0,0c2,0.8,4.3-0.1,5.1-2.1C385.1,79.6,385.1,78.5,384.7,77.6L384.7,77.6z
	 M377.5,79.1c0-2,1.6-3.6,3.6-3.6c0.2,0,0.4,0,0.5,0l-4.1,4.1C377.5,79.4,377.5,79.3,377.5,79.1L377.5,79.1z M377.8,80.3l4.6-4.6
	c0.4,0.1,0.7,0.3,1,0.6l-5,5C378.1,81.1,377.9,80.7,377.8,80.3L377.8,80.3z M378.8,81.8l5-5c0.3,0.3,0.5,0.7,0.6,1l-4.6,4.6
	C379.5,82.3,379.1,82.1,378.8,81.8L378.8,81.8z M381.1,82.6c-0.2,0-0.4,0-0.5,0l4.1-4.1c0.3,1.9-1,3.8-2.9,4.1
	C381.5,82.6,381.3,82.6,381.1,82.6z"/>
<circle id="switch-28" data-toggle="tooltip" data-html="true" title="" class="st6" cx="424.1" cy="79.1" r="3.9"/>
<path d="M427.7,77.6L427.7,77.6c-0.2-0.6-0.6-1.1-1.1-1.5l0,0c-0.3-0.3-0.6-0.5-1-0.6l0,0c-0.2-0.1-0.5-0.2-0.7-0.2l0,0
	c-2.1-0.5-4.2,0.9-4.6,3c-0.1,0.3-0.1,0.6-0.1,0.8c0,0.3,0,0.6,0.1,0.8l0,0l0,0c0.1,0.6,0.4,1.2,0.8,1.7l0,0
	c0.1,0.2,0.3,0.3,0.5,0.5l0,0c0.3,0.3,0.6,0.5,1,0.6l0,0c2,0.8,4.3-0.1,5.1-2.1C428.1,79.6,428.1,78.5,427.7,77.6L427.7,77.6z
	 M420.5,79.1c0-2,1.6-3.6,3.6-3.6c0.2,0,0.4,0,0.5,0l-4.1,4.1C420.5,79.4,420.5,79.3,420.5,79.1L420.5,79.1z M420.8,80.3l4.6-4.6
	c0.4,0.1,0.7,0.3,1,0.6l-5,5C421.1,81.1,420.9,80.7,420.8,80.3L420.8,80.3z M421.8,81.8l5-5c0.3,0.3,0.5,0.7,0.6,1l-4.6,4.6
	C422.5,82.3,422.1,82.1,421.8,81.8L421.8,81.8z M424.1,82.6c-0.2,0-0.4,0-0.5,0l4.1-4.1c0.3,1.9-1,3.8-2.9,4.1
	C424.5,82.6,424.3,82.6,424.1,82.6z"/>
<circle id="switch-29" data-toggle="tooltip" data-html="true" title="" class="st6" cx="468.6" cy="121.1" r="3.9"/>
<path d="M472.2,119.6L472.2,119.6c-0.2-0.6-0.6-1.1-1.1-1.5l0,0c-0.3-0.3-0.6-0.5-1-0.6l0,0c-0.2-0.1-0.5-0.2-0.7-0.2l0,0
	c-2.1-0.5-4.2,0.9-4.6,3c-0.1,0.3-0.1,0.6-0.1,0.8c0,0.3,0,0.6,0.1,0.8l0,0l0,0c0.1,0.6,0.4,1.2,0.8,1.7l0,0
	c0.1,0.2,0.3,0.3,0.5,0.5l0,0c0.3,0.3,0.6,0.5,1,0.6l0,0c2,0.8,4.3-0.1,5.1-2.1C472.6,121.6,472.6,120.5,472.2,119.6L472.2,119.6z
	 M465,121.1c0-2,1.6-3.6,3.6-3.6c0.2,0,0.4,0,0.5,0l-4.1,4.1C465,121.4,465,121.3,465,121.1L465,121.1z M465.2,122.3l4.6-4.6
	c0.4,0.1,0.7,0.3,1,0.6l-5,5C465.6,123.1,465.4,122.7,465.2,122.3L465.2,122.3z M466.3,123.8l5-5c0.3,0.3,0.5,0.7,0.6,1l-4.6,4.6
	C466.9,124.3,466.6,124.1,466.3,123.8L466.3,123.8z M468.6,124.6c-0.2,0-0.4,0-0.5,0l4.1-4.1c0.3,1.9-1,3.8-2.9,4.1
	C469,124.6,468.8,124.6,468.6,124.6z"/>
<ellipse id="switch-30" data-toggle="tooltip" data-html="true" title="" transform="matrix(0.2298 -0.9732 0.9732 0.2298 273.5312 587.7634)" class="st6" cx="508.1" cy="121.1" rx="3.9" ry="3.9"/>
<path d="M511.7,119.6L511.7,119.6c-0.2-0.6-0.6-1.1-1.1-1.5l0,0c-0.3-0.3-0.6-0.5-1-0.6l0,0c-0.2-0.1-0.5-0.2-0.7-0.2l0,0
	c-2.1-0.5-4.2,0.9-4.6,3c-0.1,0.3-0.1,0.6-0.1,0.8c0,0.3,0,0.6,0.1,0.8l0,0l0,0c0.1,0.6,0.4,1.2,0.8,1.7l0,0
	c0.1,0.2,0.3,0.3,0.5,0.5l0,0c0.3,0.3,0.6,0.5,1,0.6l0,0c2,0.8,4.3-0.1,5.1-2.1C512.1,121.6,512.1,120.5,511.7,119.6L511.7,119.6z
	 M504.5,121.1c0-2,1.6-3.6,3.6-3.6c0.2,0,0.4,0,0.5,0l-4.1,4.1C504.5,121.4,504.5,121.3,504.5,121.1L504.5,121.1z M504.8,122.3
	l4.6-4.6c0.4,0.1,0.7,0.3,1,0.6l-5,5C505.1,123.1,504.9,122.7,504.8,122.3L504.8,122.3z M505.8,123.8l5-5c0.3,0.3,0.5,0.7,0.6,1
	l-4.6,4.6C506.5,124.3,506.1,124.1,505.8,123.8L505.8,123.8z M508.1,124.6c-0.2,0-0.4,0-0.5,0l4.1-4.1c0.3,1.9-1,3.8-2.9,4.1
	C508.5,124.6,508.3,124.6,508.1,124.6z"/>
</svg>
`;
let ppak_svg = `
<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 25.4.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 200" style="enable-background:new 0 0 600 200;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#F1F1F2;}
	.st1{fill:#E5E141;}
	.st2{fill:#C4C403;}
	.st3{fill:#E61515;}
	.st4{fill:#DDDDDD;}
	.st5{fill:#27E22B;}
	.st6{fill:#FFFFFF;}
    .cls-conveyor-0 {
        fill: #6d6e70;
    }

    .cls-conveyor-1 {
        fill: #4f7942;
    }

    .cls-conveyor-2 {
        fill: #4B5320;
    }

    .cls-conveyor-3 {
        fill: red;
    }
</style>
<path class="st0" d="M85.5,83.6h345.3c0.5,0,0.8,0.4,0.8,0.8v0.3c0,0.5-0.4,0.8-0.8,0.8H85.5c-0.5,0-0.8-0.4-0.8-0.8v-0.3
	C84.7,84,85.1,83.6,85.5,83.6z"/>
<path class="st0" d="M85.5,115.5h345.3c0.5,0,0.8,0.4,0.8,0.8v0.3c0,0.5-0.4,0.8-0.8,0.8H85.5c-0.5,0-0.8-0.4-0.8-0.8v-0.3
	C84.7,115.9,85.1,115.5,85.5,115.5z"/>
<path class="st0" d="M115.2,121h-1v-3.8h-6.6v3.8h-1c-0.4,0-0.8,0.4-0.8,0.8c0,0.4,0.3,0.7,0.8,0.8h8.6c0.4,0,0.8-0.4,0.8-0.8
	C116,121.3,115.6,121,115.2,121z"/>
<path class="st1" d="M110,120.6h1.9c1.1,0,2,0.9,2,2v3.5l0,0H108l0,0v-3.5C108,121.5,108.9,120.6,110,120.6z"/>
<path class="st2" d="M110.2,123.8h1.5c0.8,0,1.5,0.7,1.5,1.5l0,0v0.4c0,0.4-0.3,0.8-0.8,0.8h-2.8c-0.4,0-0.8-0.3-0.8-0.8v-0.4
	C108.8,124.5,109.4,123.8,110.2,123.8C110.2,123.8,110.2,123.8,110.2,123.8z"/>
<circle class="st3" cx="111" cy="126.1" r="1.4"/>
<path class="st0" d="M391.7,79.6h1v3.8h6.6v-3.8h1c0.4,0,0.8-0.4,0.8-0.8c0-0.4-0.3-0.7-0.8-0.8h-8.6c-0.4,0-0.8,0.4-0.8,0.8
	C390.9,79.3,391.3,79.6,391.7,79.6z"/>
<path class="st1" d="M396.9,80H395c-1.1,0-2-0.9-2-2l0,0v-3.5l0,0h5.9l0,0V78C398.9,79.1,398,80,396.9,80
	C396.9,80,396.9,80,396.9,80z"/>
<path class="st2" d="M396.7,76.8h-1.5c-0.8,0-1.5-0.7-1.5-1.5l0,0v-0.4c0-0.4,0.3-0.8,0.8-0.8h2.8c0.4,0,0.8,0.3,0.8,0.8v0.4
	C398.1,76.1,397.5,76.8,396.7,76.8L396.7,76.8L396.7,76.8z"/>
<circle class="st3" cx="396" cy="74.6" r="1.4"/>
<path class="st0" d="M497.7,83.5h-29.8v-1.1c0-0.7-0.6-1.3-1.3-1.3h-3.9v-1.9c0-0.7-0.6-1.3-1.3-1.3l0,0c-0.7,0-1.3,0.6-1.3,1.3v1.9
	h-3.2c-0.7,0-1.3,0.6-1.3,1.3v1.1h-3.3c-0.1-0.6-0.6-1.1-1.3-1.1h-7.8c-0.6,0-1.2,0.5-1.3,1.1h-2.6v-5.6c0-0.7-0.6-1.3-1.3-1.3h-0.6
	c-0.7,0-1.3,0.6-1.3,1.3v6.4c-1.5,0.9-2.3,2.5-2.3,4.2v24c0,2.8,2.2,5,5,5h59c2.8,0,5-2.2,5-5v-24C502.7,85.7,500.4,83.5,497.7,83.5
	C497.7,83.5,497.7,83.5,497.7,83.5z"/>
<path class="st4" d="M89,88h45.9c2.5,0,4.5,2,4.5,4.5v16c0,2.5-2,4.5-4.5,4.5H89c-2.5,0-4.5-2-4.5-4.5v-16C84.5,90.1,86.5,88,89,88z
	"/>
<path id="zone-1" class="st5" d="M134.9,88.5c2.2,0,4,1.8,4,4v16c0,2.2-1.8,4-4,4H89c-2.2,0-4-1.8-4-4v-16c0-2.2,1.8-4,4-4H134.9 M134.9,87.5H89
	c-2.8,0-5,2.2-5,5v16c0,2.8,2.2,5,5,5h45.9c2.8,0,5-2.2,5-5v-16C139.9,89.8,137.7,87.5,134.9,87.5z"/>
<path class="st4" d="M147.2,88h45.9c2.5,0,4.5,2,4.5,4.5v16c0,2.5-2,4.5-4.5,4.5h-45.9c-2.5,0-4.5-2-4.5-4.5v-16
	C142.7,90.1,144.7,88,147.2,88z"/>
<path id="zone-2" class="st5" d="M193.1,88.5c2.2,0,4,1.8,4,4v16c0,2.2-1.8,4-4,4h-45.9c-2.2,0-4-1.8-4-4v-16c0-2.2,1.8-4,4-4H193.1 M193.1,87.5
	h-45.9c-2.8,0-5,2.2-5,5v16c0,2.8,2.2,5,5,5h45.9c2.8,0,5-2.2,5-5v-16C198.1,89.8,195.8,87.5,193.1,87.5z"/>
<path class="st4" d="M205.4,88h45.9c2.5,0,4.5,2,4.5,4.5v16c0,2.5-2,4.5-4.5,4.5h-45.9c-2.5,0-4.5-2-4.5-4.5v-16
	C200.9,90.1,202.9,88,205.4,88z"/>
<path id="zone-3" class="st5" d="M251.3,88.5c2.2,0,4,1.8,4,4v16c0,2.2-1.8,4-4,4h-45.9c-2.2,0-4-1.8-4-4v-16c0-2.2,1.8-4,4-4H251.3 M251.3,87.5
	h-45.9c-2.8,0-5,2.2-5,5v16c0,2.8,2.2,5,5,5h45.9c2.8,0,5-2.2,5-5v-16C256.3,89.8,254,87.5,251.3,87.5z"/>
<path class="st4" d="M263.5,88h45.9c2.5,0,4.5,2,4.5,4.5v16c0,2.5-2,4.5-4.5,4.5h-45.9c-2.5,0-4.5-2-4.5-4.5v-16
	C259,90.1,261,88,263.5,88z"/>
<path id="zone-4" class="st5" d="M309.4,88.5c2.2,0,4,1.8,4,4v16c0,2.2-1.8,4-4,4h-45.9c-2.2,0-4-1.8-4-4v-16c0-2.2,1.8-4,4-4H309.4 M309.4,87.5
	h-45.9c-2.8,0-5,2.2-5,5v16c0,2.8,2.2,5,5,5h45.9c2.8,0,5-2.2,5-5v-16C314.4,89.8,312.2,87.5,309.4,87.5z"/>
<path class="st4" d="M321.7,88h45.9c2.5,0,4.5,2,4.5,4.5v16c0,2.5-2,4.5-4.5,4.5h-45.9c-2.5,0-4.5-2-4.5-4.5v-16
	C317.2,90.1,319.2,88,321.7,88z"/>
<path id="zone-5" class="st5" d="M367.6,88.5c2.2,0,4,1.8,4,4v16c0,2.2-1.8,4-4,4h-45.9c-2.2,0-4-1.8-4-4v-16c0-2.2,1.8-4,4-4H367.6 M367.6,87.5
	h-45.9c-2.8,0-5,2.2-5,5v16c0,2.8,2.2,5,5,5h45.9c2.8,0,5-2.2,5-5v-16C372.6,89.8,370.4,87.5,367.6,87.5z"/>
<path class="st4" d="M379.9,88h45.9c2.5,0,4.5,2,4.5,4.5v16c0,2.5-2,4.5-4.5,4.5h-45.9c-2.5,0-4.5-2-4.5-4.5v-16
	C375.4,90.1,377.4,88,379.9,88z"/>
<path id="zone-6" class="st5" d="M425.8,88.5c2.2,0,4,1.8,4,4v16c0,2.2-1.8,4-4,4h-45.9c-2.2,0-4-1.8-4-4v-16c0-2.2,1.8-4,4-4H425.8 M425.8,87.5
	h-45.9c-2.8,0-5,2.2-5,5v16c0,2.8,2.2,5,5,5h45.9c2.8,0,5-2.2,5-5v-16C430.8,89.8,428.5,87.5,425.8,87.5z"/>
<path class="st4" d="M438.7,113c-2.5,0-4.5-2-4.5-4.5v-16c0-2.5,2-4.5,4.5-4.5h77.9c2.5,0,4.5,2,4.5,4.5c0,1.2-0.5,2.4-1.4,3.2
	l-16.4,16c-0.8,0.8-2,1.3-3.1,1.3H438.7z"/>
<path id="zone-7" class="st5" d="M516.6,88.5c2.2,0,4,1.8,4,4c0,1.1-0.4,2.1-1.2,2.9l-16.4,16c-0.7,0.7-1.7,1.1-2.8,1.1h-61.5c-2.2,0-4-1.8-4-4
	v-16c0-2.2,1.8-4,4-4H516.6 M516.6,87.5h-77.9c-2.8,0-5,2.2-5,5v16c0,2.8,2.2,5,5,5h61.5c1.3,0,2.6-0.5,3.5-1.4l16.4-16
	c2-1.9,2-5.1,0.1-7.1C519.3,88,518,87.5,516.6,87.5z"/>
<path class="st0" d="M182.5,92.7h-24.8c-1.9,0-3.4,1.5-3.4,3.4v8.8c0,1.9,1.5,3.4,3.4,3.4h24.8c1.9,0,3.4-1.5,3.4-3.4v-8.8
	C185.9,94.2,184.4,92.7,182.5,92.7z M168.6,103.3c0,1.9-1.5,3.4-3.4,3.4H161c-1.9,0-3.4-1.5-3.4-3.4v-0.5c0-1.9,1.5-3.4,3.4-3.4h4.2
	c1.9,0,3.4,1.5,3.4,3.4L168.6,103.3z"/>
<path class="st0" d="M240.7,92.7h-24.8c-1.9,0-3.4,1.5-3.4,3.4v8.8c0,1.9,1.5,3.4,3.4,3.4h24.8c1.9,0,3.4-1.5,3.4-3.4v-8.8
	C244.1,94.2,242.6,92.7,240.7,92.7z M226.8,103.3c0,1.9-1.5,3.4-3.4,3.4h-4.2c-1.9,0-3.4-1.5-3.4-3.4v-0.5c0-1.9,1.5-3.4,3.4-3.4
	h4.2c1.9,0,3.4,1.5,3.4,3.4V103.3z"/>
<path class="st0" d="M437.7,89.5h78c1.1,0,2,0.9,2,2l0,0c0,1.1-0.9,2-2,2h-78c-1.1,0-2-0.9-2-2l0,0
	C435.7,90.4,436.6,89.5,437.7,89.5z"/>
<path class="st0" d="M437.7,95.4h73.2c1.1,0,2,0.9,2,2l0,0c0,1.1-0.9,2-2,2h-73.2c-1.1,0-2-0.9-2-2l0,0
	C435.7,96.3,436.6,95.4,437.7,95.4z"/>
<path class="st0" d="M437.7,101.4H505c1.1,0,2,0.9,2,2l0,0c0,1.1-0.9,2-2,2h-67.3c-1.1,0-2-0.9-2-2l0,0
	C435.7,102.3,436.6,101.4,437.7,101.4z"/>
<path class="st0" d="M437.7,107.3h62.5c1.1,0,2,0.9,2,2l0,0c0,1.1-0.9,2-2,2h-62.5c-1.1,0-2-0.9-2-2l0,0
	C435.7,108.2,436.6,107.3,437.7,107.3z"/>
<circle id="switch-21" data-toggle="tooltip" data-html="true" title="" class="st6" cx="76.3" cy="79.6" r="3.9"/>
<path d="M79.9,78.1L79.9,78.1c-0.2-0.6-0.6-1.1-1.1-1.5l0,0c-0.3-0.3-0.6-0.5-1-0.6l0,0c-0.2-0.1-0.5-0.2-0.7-0.2l0,0
	c-0.3-0.1-0.5-0.1-0.8-0.1c-2.2,0-3.9,1.7-3.9,3.9c0,0.3,0,0.6,0.1,0.8l0,0l0,0c0.1,0.6,0.4,1.2,0.8,1.7l0,0
	c0.1,0.2,0.3,0.3,0.5,0.5l0,0c0.3,0.3,0.6,0.5,1,0.6l0,0c2,0.8,4.3-0.1,5.1-2.1C80.3,80.2,80.3,79.1,79.9,78.1L79.9,78.1z
	 M72.7,79.6c0-2,1.6-3.6,3.5-3.6c0.2,0,0.4,0,0.6,0l-4.1,4.1C72.7,80,72.7,79.8,72.7,79.6z M72.9,80.9l4.6-4.6
	c0.4,0.1,0.7,0.3,1,0.6l-5,5C73.3,81.6,73.1,81.3,72.9,80.9L72.9,80.9z M74,82.4l5-5c0.3,0.3,0.5,0.7,0.6,1L75,83
	C74.7,82.8,74.3,82.6,74,82.4z M76.3,83.2c-0.2,0-0.4,0-0.5,0l4.1-4.1c0,0.2,0,0.4,0,0.5C79.9,81.6,78.3,83.2,76.3,83.2L76.3,83.2z"
	/>
<circle id="switch-22" data-toggle="tooltip" data-html="true" title="" class="st6" cx="131.3" cy="79.6" r="3.9"/>
<path d="M134.9,78.1L134.9,78.1c-0.2-0.6-0.6-1.1-1.1-1.5l0,0c-0.3-0.3-0.6-0.5-1-0.6l0,0c-0.2-0.1-0.5-0.2-0.7-0.2l0,0
	c-0.3-0.1-0.5-0.1-0.8-0.1c-2.2,0-3.9,1.7-3.9,3.9c0,0.3,0,0.6,0.1,0.8l0,0l0,0c0.1,0.6,0.4,1.2,0.8,1.7l0,0
	c0.1,0.2,0.3,0.3,0.5,0.5l0,0c0.3,0.3,0.6,0.5,1,0.6l0,0c2,0.8,4.3-0.1,5.1-2.1C135.3,80.2,135.3,79.1,134.9,78.1L134.9,78.1z
	 M127.7,79.6c0-2,1.6-3.6,3.5-3.6c0.2,0,0.4,0,0.6,0l-4.1,4.1C127.7,80,127.7,79.8,127.7,79.6z M127.9,80.9l4.6-4.6
	c0.4,0.1,0.7,0.3,1,0.6l-5,5C128.3,81.6,128.1,81.3,127.9,80.9L127.9,80.9z M129,82.4l5-5c0.3,0.3,0.5,0.7,0.6,1L130,83
	C129.7,82.8,129.3,82.6,129,82.4z M131.3,83.2c-0.2,0-0.4,0-0.5,0l4.1-4.1c0,0.2,0,0.4,0,0.5C134.9,81.6,133.3,83.2,131.3,83.2
	L131.3,83.2z"/>
<circle id="switch-23" data-toggle="tooltip" data-html="true" title="" class="st6" cx="189.3" cy="79.6" r="3.9"/>
<path d="M192.9,78.1L192.9,78.1c-0.2-0.6-0.6-1.1-1.1-1.5l0,0c-0.3-0.3-0.6-0.5-1-0.6l0,0c-0.2-0.1-0.5-0.2-0.7-0.2l0,0
	c-0.3-0.1-0.5-0.1-0.8-0.1c-2.2,0-3.9,1.7-3.9,3.9c0,0.3,0,0.6,0.1,0.8l0,0l0,0c0.1,0.6,0.4,1.2,0.8,1.7l0,0
	c0.1,0.2,0.3,0.3,0.5,0.5l0,0c0.3,0.3,0.6,0.5,1,0.6l0,0c2,0.8,4.3-0.1,5.1-2.1C193.3,80.2,193.3,79.1,192.9,78.1L192.9,78.1z
	 M185.7,79.6c0-2,1.6-3.6,3.5-3.6c0.2,0,0.4,0,0.6,0l-4.1,4.1C185.7,80,185.7,79.8,185.7,79.6z M185.9,80.9l4.6-4.6
	c0.4,0.1,0.7,0.3,1,0.6l-5,5C186.3,81.6,186.1,81.3,185.9,80.9L185.9,80.9z M187,82.4l5-5c0.3,0.3,0.5,0.7,0.6,1L188,83
	C187.7,82.8,187.3,82.6,187,82.4z M189.3,83.2c-0.2,0-0.4,0-0.5,0l4.1-4.1c0,0.2,0,0.4,0,0.5C192.9,81.6,191.3,83.2,189.3,83.2
	L189.3,83.2z"/>
<circle id="switch-24" data-toggle="tooltip" data-html="true" title="" class="st6" cx="248.3" cy="79.6" r="3.9"/>
<path d="M251.9,78.1L251.9,78.1c-0.2-0.6-0.6-1.1-1.1-1.5l0,0c-0.3-0.3-0.6-0.5-1-0.6l0,0c-0.2-0.1-0.5-0.2-0.7-0.2l0,0
	c-0.3-0.1-0.5-0.1-0.8-0.1c-2.2,0-3.9,1.7-3.9,3.9c0,0.3,0,0.6,0.1,0.8l0,0l0,0c0.1,0.6,0.4,1.2,0.8,1.7l0,0
	c0.1,0.2,0.3,0.3,0.5,0.5l0,0c0.3,0.3,0.6,0.5,1,0.6l0,0c2,0.8,4.3-0.1,5.1-2.1C252.3,80.2,252.3,79.1,251.9,78.1L251.9,78.1z
	 M244.7,79.6c0-2,1.6-3.6,3.5-3.6c0.2,0,0.4,0,0.6,0l-4.1,4.1C244.7,80,244.7,79.8,244.7,79.6z M244.9,80.9l4.6-4.6
	c0.4,0.1,0.7,0.3,1,0.6l-5,5C245.3,81.6,245.1,81.3,244.9,80.9L244.9,80.9z M246,82.4l5-5c0.3,0.3,0.5,0.7,0.6,1L247,83
	C246.7,82.8,246.3,82.6,246,82.4z M248.3,83.2c-0.2,0-0.4,0-0.5,0l4.1-4.1c0,0.2,0,0.4,0,0.5C251.9,81.6,250.3,83.2,248.3,83.2
	L248.3,83.2z"/>
<circle id="switch-25" data-toggle="tooltip" data-html="true" title="" class="st6" cx="305.3" cy="79.6" r="3.9"/>
<path d="M308.9,78.1L308.9,78.1c-0.2-0.6-0.6-1.1-1.1-1.5l0,0c-0.3-0.3-0.6-0.5-1-0.6l0,0c-0.2-0.1-0.5-0.2-0.7-0.2l0,0
	c-0.3-0.1-0.5-0.1-0.8-0.1c-2.2,0-3.9,1.7-3.9,3.9c0,0.3,0,0.6,0.1,0.8l0,0l0,0c0.1,0.6,0.4,1.2,0.8,1.7l0,0
	c0.1,0.2,0.3,0.3,0.5,0.5l0,0c0.3,0.3,0.6,0.5,1,0.6l0,0c2,0.8,4.3-0.1,5.1-2.1C309.3,80.2,309.3,79.1,308.9,78.1L308.9,78.1z
	 M301.7,79.6c0-2,1.6-3.6,3.5-3.6c0.2,0,0.4,0,0.6,0l-4.1,4.1C301.7,80,301.7,79.8,301.7,79.6z M301.9,80.9l4.6-4.6
	c0.4,0.1,0.7,0.3,1,0.6l-5,5C302.3,81.6,302.1,81.3,301.9,80.9L301.9,80.9z M303,82.4l5-5c0.3,0.3,0.5,0.7,0.6,1L304,83
	C303.7,82.8,303.3,82.6,303,82.4z M305.3,83.2c-0.2,0-0.4,0-0.5,0l4.1-4.1c0,0.2,0,0.4,0,0.5C308.9,81.6,307.3,83.2,305.3,83.2
	L305.3,83.2z"/>
<circle id="switch-26" data-toggle="tooltip" data-html="true" title="" class="st6" cx="360.3" cy="79.6" r="3.9"/>
<path d="M363.9,78.1L363.9,78.1c-0.2-0.6-0.6-1.1-1.1-1.5l0,0c-0.3-0.3-0.6-0.5-1-0.6l0,0c-0.2-0.1-0.5-0.2-0.7-0.2l0,0
	c-0.3-0.1-0.5-0.1-0.8-0.1c-2.2,0-3.9,1.7-3.9,3.9c0,0.3,0,0.6,0.1,0.8l0,0l0,0c0.1,0.6,0.4,1.2,0.8,1.7l0,0
	c0.1,0.2,0.3,0.3,0.5,0.5l0,0c0.3,0.3,0.6,0.5,1,0.6l0,0c2,0.8,4.3-0.1,5.1-2.1C364.3,80.2,364.3,79.1,363.9,78.1L363.9,78.1z
	 M356.7,79.6c0-2,1.6-3.6,3.5-3.6c0.2,0,0.4,0,0.6,0l-4.1,4.1C356.7,80,356.7,79.8,356.7,79.6z M356.9,80.9l4.6-4.6
	c0.4,0.1,0.7,0.3,1,0.6l-5,5C357.3,81.6,357.1,81.3,356.9,80.9L356.9,80.9z M358,82.4l5-5c0.3,0.3,0.5,0.7,0.6,1L359,83
	C358.7,82.8,358.3,82.6,358,82.4z M360.3,83.2c-0.2,0-0.4,0-0.5,0l4.1-4.1c0,0.2,0,0.4,0,0.5C363.9,81.6,362.3,83.2,360.3,83.2
	L360.3,83.2z"/>
<circle id="switch-27" data-toggle="tooltip" data-html="true" title="" class="st6" cx="374.3" cy="79.6" r="3.9"/>
<path d="M377.9,78.1L377.9,78.1c-0.2-0.6-0.6-1.1-1.1-1.5l0,0c-0.3-0.3-0.6-0.5-1-0.6l0,0c-0.2-0.1-0.5-0.2-0.7-0.2l0,0
	c-0.3-0.1-0.5-0.1-0.8-0.1c-2.2,0-3.9,1.7-3.9,3.9c0,0.3,0,0.6,0.1,0.8l0,0l0,0c0.1,0.6,0.4,1.2,0.8,1.7l0,0
	c0.1,0.2,0.3,0.3,0.5,0.5l0,0c0.3,0.3,0.6,0.5,1,0.6l0,0c2,0.8,4.3-0.1,5.1-2.1C378.3,80.2,378.3,79.1,377.9,78.1L377.9,78.1z
	 M370.7,79.6c0-2,1.6-3.6,3.5-3.6c0.2,0,0.4,0,0.6,0l-4.1,4.1C370.7,80,370.7,79.8,370.7,79.6z M370.9,80.9l4.6-4.6
	c0.4,0.1,0.7,0.3,1,0.6l-5,5C371.3,81.6,371.1,81.3,370.9,80.9L370.9,80.9z M372,82.4l5-5c0.3,0.3,0.5,0.7,0.6,1L373,83
	C372.7,82.8,372.3,82.6,372,82.4z M374.3,83.2c-0.2,0-0.4,0-0.5,0l4.1-4.1c0,0.2,0,0.4,0,0.5C377.9,81.6,376.3,83.2,374.3,83.2
	L374.3,83.2z"/>
<circle id="switch-28" data-toggle="tooltip" data-html="true" title="" class="st6" cx="418.3" cy="79.6" r="3.9"/>
<path d="M421.9,78.1L421.9,78.1c-0.2-0.6-0.6-1.1-1.1-1.5l0,0c-0.3-0.3-0.6-0.5-1-0.6l0,0c-0.2-0.1-0.5-0.2-0.7-0.2l0,0
	c-0.3-0.1-0.5-0.1-0.8-0.1c-2.2,0-3.9,1.7-3.9,3.9c0,0.3,0,0.6,0.1,0.8l0,0l0,0c0.1,0.6,0.4,1.2,0.8,1.7l0,0
	c0.1,0.2,0.3,0.3,0.5,0.5l0,0c0.3,0.3,0.6,0.5,1,0.6l0,0c2,0.8,4.3-0.1,5.1-2.1C422.3,80.2,422.3,79.1,421.9,78.1L421.9,78.1z
	 M414.7,79.6c0-2,1.6-3.6,3.5-3.6c0.2,0,0.4,0,0.6,0l-4.1,4.1C414.7,80,414.7,79.8,414.7,79.6z M414.9,80.9l4.6-4.6
	c0.4,0.1,0.7,0.3,1,0.6l-5,5C415.3,81.6,415.1,81.3,414.9,80.9L414.9,80.9z M416,82.4l5-5c0.3,0.3,0.5,0.7,0.6,1L417,83
	C416.7,82.8,416.3,82.6,416,82.4z M418.3,83.2c-0.2,0-0.4,0-0.5,0l4.1-4.1c0,0.2,0,0.4,0,0.5C421.9,81.6,420.3,83.2,418.3,83.2
	L418.3,83.2z"/>
<circle id="switch-29" data-toggle="tooltip" data-html="true" title="" class="st6" cx="431.3" cy="121.6" r="3.9"/>
<path d="M434.9,120.1L434.9,120.1c-0.2-0.6-0.6-1.1-1.1-1.5l0,0c-0.3-0.3-0.6-0.5-1-0.6l0,0c-0.2-0.1-0.5-0.2-0.7-0.2l0,0
	c-0.3-0.1-0.5-0.1-0.8-0.1c-2.2,0-3.9,1.7-3.9,3.9c0,0.3,0,0.6,0.1,0.8l0,0l0,0c0.1,0.6,0.4,1.2,0.8,1.7l0,0
	c0.1,0.2,0.3,0.3,0.5,0.5l0,0c0.3,0.3,0.6,0.5,1,0.6l0,0c2,0.8,4.3-0.1,5.1-2.1C435.3,122.2,435.3,121.1,434.9,120.1L434.9,120.1z
	 M427.7,121.6c0-2,1.6-3.6,3.5-3.6c0.2,0,0.4,0,0.6,0l-4.1,4.1C427.7,122,427.7,121.8,427.7,121.6z M427.9,122.9l4.6-4.6
	c0.4,0.1,0.7,0.3,1,0.6l-5,5C428.3,123.6,428.1,123.3,427.9,122.9L427.9,122.9z M429,124.4l5-5c0.3,0.3,0.5,0.7,0.6,1L430,125
	C429.7,124.8,429.3,124.6,429,124.4L429,124.4z M431.3,125.2c-0.2,0-0.4,0-0.5,0l4.1-4.1c0,0.2,0,0.4,0,0.5
	C434.9,123.6,433.3,125.2,431.3,125.2z"/>
<circle id="switch-30" data-toggle="tooltip" data-html="true" title="" class="st6" cx="474.3" cy="121.6" r="3.9"/>
<path d="M477.9,120.1L477.9,120.1c-0.2-0.6-0.6-1.1-1.1-1.5l0,0c-0.3-0.3-0.6-0.5-1-0.6l0,0c-0.2-0.1-0.5-0.2-0.7-0.2l0,0
	c-0.3-0.1-0.5-0.1-0.8-0.1c-2.2,0-3.9,1.7-3.9,3.9c0,0.3,0,0.6,0.1,0.8l0,0l0,0c0.1,0.6,0.4,1.2,0.8,1.7l0,0
	c0.1,0.2,0.3,0.3,0.5,0.5l0,0c0.3,0.3,0.6,0.5,1,0.6l0,0c2,0.8,4.3-0.1,5.1-2.1C478.3,122.2,478.3,121.1,477.9,120.1L477.9,120.1z
	 M470.7,121.6c0-2,1.6-3.6,3.5-3.6c0.2,0,0.4,0,0.6,0l-4.1,4.1C470.7,122,470.7,121.8,470.7,121.6z M470.9,122.9l4.6-4.6
	c0.4,0.1,0.7,0.3,1,0.6l-5,5C471.3,123.6,471.1,123.3,470.9,122.9L470.9,122.9z M472,124.4l5-5c0.3,0.3,0.5,0.7,0.6,1L473,125
	C472.7,124.8,472.3,124.6,472,124.4L472,124.4z M474.3,125.2c-0.2,0-0.4,0-0.5,0l4.1-4.1c0,0.2,0,0.4,0,0.5
	C477.9,123.6,476.3,125.2,474.3,125.2z"/>
</svg>
`;

async function loadSettingsValues() {
    let settings_values = await ipcRenderer.invoke('getStoreValue');

    //console.log(settings_values);

    for (let key in settings_values) {
        let value = settings_values[key];
        let related_input_id = "#" + key;
        if(key === 'detailed_active_alarm') {
            if(value == "active") {
                jQuery(related_input_id).prop( "checked", true );
            } else {
                jQuery(related_input_id).prop( "checked", false );
            }
        } else {
            if(value != "not_set") {
                jQuery(related_input_id).val(value)
            }
        }
        //console.log(key, value);
    }

    if(maintenance_ip_list[selected_machine]!== 'undefined' && maintenance_ip_list[selected_machine] === local_ip_address) {
        jQuery("#manual_mode_button").show();
    }
}

function loadDeviceSorterNumbers() {
    const urlParams = new URLSearchParams(window.location.search);
    induct_number = urlParams.get('induct_number');
    if(induct_number < 3) {
        jQuery("#svg-display-area").html(tfold_svg);
        $('#switch-21').attr('title','Zone 1 Pe<br>TF'+induct_number+'_ZONE1_PE');
        $('#switch-22').attr('title','Zone 2 Pe<br>TF'+induct_number+'_ZONE2_PE');
        $('#switch-23').attr('title','Zone 3 Pe<br>TF'+induct_number+'_ZONE3_PE');
        $('#switch-24').attr('title','Zone 4 Pe<br>TF'+induct_number+'_ZONE4_PE');
        $('#switch-25').attr('title','Zone 5 Pe<br>TF'+induct_number+'_ZONE5_PE');
        $('#switch-26').attr('title','Zone 6 Pe<br>TF'+induct_number+'_ZONE6_PE');
        $('#switch-27').attr('title','Zone 7 Entry Pe<br>TF'+induct_number+'_ZONE7_ENTRY_PE');
        $('#switch-28').attr('title','Zone 7 Pe<br>TF'+induct_number+'_ZONE7_PE');
        $('#switch-29').attr('title','Zone 8 Entry Pe<br>TF'+induct_number+'_ZONE8_ENTRY_PE');
        $('#switch-30').attr('title','Zone 8 Clear Pe<br>TF'+induct_number+'_ZONE8_CLEAR_PE');
    } else {
        jQuery("#svg-display-area").html(ppak_svg);
        $('#switch-21').attr('title','Zone Start Pe<br>PP'+(induct_number-2)+'_1_ZONE_START_PE');
        $('#switch-22').attr('title','Zone 1 Pe<br>PP'+(induct_number-2)+'_ZONE1_PE');
        $('#switch-23').attr('title','Zone 2 Pe<br>PP'+(induct_number-2)+'_ZONE2_PE');
        $('#switch-24').attr('title','Zone 3 Pe<br>PP'+(induct_number-2)+'_ZONE3_PE');
        $('#switch-25').attr('title','Zone 4 Pe<br>PP'+(induct_number-2)+'_ZONE4_PE');
        $('#switch-26').attr('title','Zone 5 Pe<br>PP'+(induct_number-2)+'_ZONE5_PE');
        $('#switch-27').attr('title','Zone 6 Entry Pe<br>PP'+(induct_number-2)+'_ZONE6_ENTRY_PE');
        $('#switch-28').attr('title','Zone 6 Pe<br>PP'+(induct_number-2)+'_ZONE6_PE');
        $('#switch-29').attr('title','Zone 7 Entry Pe<br>PP'+(induct_number-2)+'_ZONE7_ENTRY_PE');
        $('#switch-30').attr('title','Zone 7 Clear Pe<br>PP'+(induct_number-2)+'_ZONE7_CLEAR_PE');
    }
    $('[data-toggle="tooltip"]').tooltip();
    let induct_title = inducts_titles[induct_number];
    current_induct_line_zones = {};
    let swtich_start = 41 + (induct_number-1) * 10;
    for(var si=0; si < 8; si++) {
        let zone_gui_id = "conv-" + (swtich_start + si);
        current_induct_line_zones[zone_gui_id] = "zone-" + (si+1);
    }

    //console.log(current_induct_line_zones);

    jQuery("#induct-title").text(induct_title);
}

jQuery(document).ready(function() {
    loadSettingsValues();
    loadDeviceSorterNumbers();
    jQuery("#ip_list_dropdown").change(function() {
        selected_machine = jQuery(this).val();

        if(selected_machine !== "") {
            let selected_machine_name = machine_list[selected_machine];
            jQuery("#display_machine_name").text(selected_machine_name);

            setInterval(() => {
                ipcRenderer.send("get:induct", selected_machine, induct_number);
            }, 1000);

        } else {
            selected_machine = 0;
            jQuery("#display_machine_name").text("Select a machine");
        }

        ipcRenderer.send("get:induct", selected_machine, induct_number);
    });
});

let tput_chart = Highcharts.chart('tput-chart', {
    chart: {
        type: 'spline',
        animation: Highcharts.svg, // don't animate in old IE
        marginRight: 10,        
        borderColor: '#D3D3D3',
        borderWidth: 1
    },

    time: {
        useUTC: false
    },

    title: {
        text: 'Tput'
    },

    accessibility: {
        announceNewData: {
            enabled: true,
            minAnnounceInterval: 15000,
            announcementFormatter: function (allSeries, newSeries, newPoint) {
                if (newPoint) {
                    return 'New point added. Value: ' + newPoint.y;
                }
                return false;
            }
        }
    },

    xAxis: {
        type: 'datetime',
        tickInterval: 1000*60*15
    },

    yAxis: {
        title: {
            text: null
        },
        labels: {
            format: '{value}'
        },
        tickInterval: 500,
        tickWidth: 1,
        tickLength: 5,
        min: 0,
        max: 500,
        lineColor: '#C0C0C0',
        lineWidth: 1,
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },

    tooltip: {
        headerFormat: '<b>{series.name}</b><br/>',
        pointFormat: '{point.x:%Y-%m-%d %H:%M:%S}<br/>{point.y:.2f}'
    },

    legend: {
        enabled: true
    },

    exporting: {
        enabled: true,
        buttons: {
            contextButton: {
                menuItems: ['downloadCSV', 'separator', 'downloadPDF', 'downloadPNG']
            }
        }
    },

    credits: {
        enabled: false
    },

    series: [{
        name: 'Tput',
        marker: {
                enabled: false
        },
        data: []
    }]
});

ipcRenderer.on("render:induct", function(e, induct_result) {

    let input_colors = {"0" : "#fff", "1" : "#f00"};
    let conveyor_colors = { "0" : "#6d6e70",  "1" : "#27e22b", "2" : "#90EE90", "3" : "red"};

    machine_mode = induct_result['mode'];
    //console.log(machine_mode);
    changeMachineNameBg(machine_mode);
    console.log(induct_result);

    let inputs_result = induct_result['inputs'];
    for (let k in inputs_result) {
        let related_input_id = "#" + k;
        let related_input_status = inputs_result[k];
        
        if(jQuery(related_input_id).length > 0) {
            let related_input_color = input_colors[related_input_status];
            jQuery(related_input_id).css("fill", related_input_color);
        }
    }

    let conveyors_result = induct_result['conveyors'];
    //console.log(conveyors_result);

    for (let k in conveyors_result) {
        if(k in current_induct_line_zones) {
            let related_conveyor_class = "#" + current_induct_line_zones[k];
            //console.log("FOUND: " + current_induct_line_zones[k]);
            let related_conveyor_status = conveyors_result[k];
            if(jQuery(related_conveyor_class).length > 0) {
                jQuery( related_conveyor_class ).each(function( index ) {
                    for(var conv = 0; conv < 4; conv++ ) {
                        if(related_conveyor_status == conv) {
                            jQuery(this).addClass("cls-conveyor-" + conv);
                        } else {
                            jQuery(this).removeClass("cls-conveyor-" + conv);
                        }
                    }
                });
            }
        }
    }

    let alarms_result = induct_result['alarms'];
    jQuery("#active_alarm_tbody").empty();
    if(!jQuery.isEmptyObject(alarms_result)) {
        for (let k in alarms_result) {
            let related_alarm_gui_id = k;
            let related_alarm_info = alarms_result[k];
            
            let alarm_type = related_alarm_info['alarm_type'], 
            alarm_description = related_alarm_info['description'], 
            alarm_class = related_alarm_info['alarm_class'], 
            alarm_location = related_alarm_info['location'], 
            variable_name = related_alarm_info['variable_name'], 
            timestamp = related_alarm_info['timestamp'],
            duration = related_alarm_info['duration'];

            timestamp = timeConverter(timestamp);
            
            let tr_html = '<tr>' + 
                '<td>' + timestamp + '</td>'+
                '<td>' + secondsToDhms(duration) + '</td>'+
                '<td>' + alarm_class_to_names[alarm_class] + '</td>'+
                '<td>' + alarm_location + '</td>'+
                '<td>' + alarm_description + '</td>'+
                '<td>' + variable_name + '</td>'+
                '</tr>';

            jQuery("#active_alarm_tbody").append(tr_html);
        }
    } else {
        let tr_html = '<tr><td colspan="6">No active alarm to display</td></tr>';
        jQuery("#active_alarm_tbody").append(tr_html);
    }

    let statistics_result = induct_result['statistics'];
    let tput_chart_data = [];
    for (let k in statistics_result) {
        let time_slot = statistics_result[k]['time_stamp'],
        total_read = statistics_result[k]['total_read'];        
        total_read = Number(total_read);

        let tput_value = total_read * 12; //for right now its temporary multiplied by 12 to 5 minutes data to get 1hour
        time_slot = Number(time_slot);
        
        tput_chart_data.push({
            x: time_slot,
            y: tput_value
        });
    }

    tput_chart.series[0].setData(tput_chart_data, true);

    if(statistics_started === 0) {
        jQuery("#big-hourglass-area").hide();
        jQuery("#big-chart-area").show();
        statistics_started = 1;
    }
    
});
</script>
</body>
</html>