<%- include('header', {currentMenu: 'statistics-packages', pageTitle: 'Packages'}); %>
    <a id="top-to-button"></a>
    <div class="row m-0 mt-2">
        <div class="col-lg-12 pt-0 pb-0 pl-2 pr-2">
            <h2 id="head-loader">Packages</h2>
        </div>
    </div>
    <div class="row m-0 mt-2">
        <div class="col-lg-12 pt-0 pb-0 pl-2 pr-2">
            <form>
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-row" id="alert-div" style="display:none;">
                            <div class="col-md-12" id="alert-div-area"></div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4">
                                <h5>From</h5>
                            </div>
                            <div class="col-md-4">
                                <h5>To</h5>
                            </div>
                            <div class="col-md-4">
                                
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-2">
                                <input type="text" class="form-control" id="from_date" placeholder="From date">
                            </div>
                            <div class="col-md-1">
                                <select class="form-control" id="from_date_hour"></select>
                            </div>
                            <div class="col-md-1">
                                <select class="form-control" id="from_date_minute"></select>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" id="to_date" placeholder="To date">
                            </div>
                            <div class="col-md-1">
                                <select class="form-control" id="to_date_hour"></select>
                            </div>
                            <div class="col-md-1">
                                <select class="form-control" id="to_date_minute"></select>
                            </div>
                            <div class="col-md-2">
                                <select class="custom-select" id="filter_sorting_code">
                                    <option value="na">Sorting code...</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-primary" id="filter_submit_btn2">Filter</button>
                                <input type="hidden" id="start_timestamp2">
                                <input type="hidden" id="end_timestamp2">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row m-0 mt-2">
        <div class="col-lg-12 pt-0 pb-0 pl-2 pr-2">
            <table class="table table-sm table-bordered" id="alarm_table">
                <thead>
                <tr>
                    <th width="20%">Timestamp</th>
                    <th width="12%">MailId</th>
                    <th width="10%">Length</th>
                    <th width="12%">Barcode1</th>
                    <th width="12%">RejectCode</th>
                    <th width="10%">SortedCode</th>
                    <th width="12%">Destination</th>
                    <th width="12%">FinalDestination</th>
                </tr>
                </thead>
                <tbody id="package_list_tbody">
                </tbody>
                <tfoot>
                    <tr>
                        <th>Timestamp</th>
                        <th>MailId</th>
                        <th>Length</th>
                        <th>Barcode1</th>
                        <th>RejectCode</th>
                        <th>SortedCode</th>
                        <th>Destination</th>
                        <th>FinalDestination</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<%- include('footer', {currentMenu: 'statistics-packages'}); %>
<script src="js/jquery-bootstrap.js"></script>
<script src="js/nav.js"></script>
<script src="js/datatables/datatables.js"></script>
<script src="js/jszip.min.js"></script>
<script src="js/daterangepicker/moment.min.js"></script>
<script src="js/datepicker/bootstrap-datepicker.min.js"></script>
<script>
let alarm_class_to_names = {"0" : "Error", "1" : "Warning", "2" : "Message"};
let data_table;
let machine_mode = 9;

let sorting_codes = {        
    "1":"SC 01",
    "2":"SC 02", 
    "3":"SC 03", 
    "4":"SC 04", 
    "5":"SC 05", 
};

function load_hour_minute_dropdowns() {
    let hours_html, minutes_html;
    for(var i=0; i<24; i++) {
        let v = i;
        if(i<10) {
            v = "0" + i;
        }
        hours_html += '<option value="'+ v +'">' + v + '</option>';
    }

    for(var i=0; i<60; i++) {
        let v = i;
        if(i<10) {
            v = "0" + i;
        }
        minutes_html += '<option value="'+ v +'">' + v + '</option>';
    }

    jQuery("#from_date_hour").html(hours_html);
    jQuery("#from_date_minute").html(minutes_html);
    jQuery("#to_date_hour").html(hours_html);
    jQuery("#to_date_minute").html(minutes_html);
}

function destination_to_bin(d) {    
    let vd = d;
    if(d < 10) {
        if(d == 0) {
            vd = "02";
        } else {
            vd = "0" + d;
        }
    }

    return vd;
}

jQuery(document).ready(function() {

    load_hour_minute_dropdowns();

    var top_to_btn = $('#top-to-button');

    $(window).scroll(function() {
        if ($(window).scrollTop() > 300) {
            top_to_btn.addClass('show');
        } else {
            top_to_btn.removeClass('show');
        }
    });

    top_to_btn.on('click', function(e) {
        e.preventDefault();
        $('html, body').animate({scrollTop:0}, '300');
    });

    jQuery("#filter_submit_btn2").click(function() {
        let date_ok = 1;
        let from_date = jQuery("#from_date").val();
        let from_date_hour = jQuery("#from_date_hour").val();
        let from_date_minute = jQuery("#from_date_minute").val();

        let to_date = jQuery("#to_date").val();
        let to_date_hour = jQuery("#to_date_hour").val();
        let to_date_minute = jQuery("#to_date_minute").val();

        if(from_date.trim().length === 0) {
            date_ok = 0;
        }

        if(to_date.trim().length === 0) {
            date_ok = 0;
        }

        if(date_ok === 0) {
            jQuery("#alert-div-area").empty();
            let alert_div_html = '<div class="alert alert-warning alert-dismissible fade show" role="alert">' +
                                    '<strong id="alert-div-text">Please select dates correctly</strong>' +
                                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                        '<span aria-hidden="true">&times;</span>' +
                                    '</button>' +
                                '</div>';
            jQuery("#alert-div-area").html(alert_div_html);
            jQuery("#alert-div").show();
        } else {
            let from_date_time = from_date + " " + from_date_hour + ":" + from_date_minute;
            let to_date_time = to_date + " " + to_date_hour + ":" + to_date_minute;

            var from_timestamp = moment(from_date_time, "M-D-YYYY HH:mm").unix();
            var to_timestamp = moment(to_date_time, "M/D/YYYY HH:mm").unix();
            if(from_timestamp > to_timestamp) {
                jQuery("#alert-div-area").empty();
                let alert_div_html = '<div class="alert alert-warning alert-dismissible fade show" role="alert">' +
                                        '<strong id="alert-div-text">Please select date times correctly</strong>' +
                                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                            '<span aria-hidden="true">&times;</span>' +
                                        '</button>' +
                                    '</div>';
                jQuery("#alert-div-area").html(alert_div_html);
                jQuery("#alert-div").show();
                
            } else {
                jQuery("#alert-div").hide();
                let filter_sorting_code = jQuery("#filter_sorting_code").val();
                ipcRenderer.send("get:filtered_package_list", selected_machine, from_timestamp, to_timestamp, filter_sorting_code);
                jQuery("#head-loader").html('Packages <img src="./resources/loading.gif">');
            }
            
        }
        
    });

    jQuery("#from_date").datepicker({
        autoclose: true,
        format: 'mm-dd-yyyy'
    });

    jQuery("#to_date").datepicker({
        autoclose: true,
        format: 'mm-dd-yyyy'
    });

    jQuery("#ip_list_dropdown").change(function() {
        selected_machine = jQuery(this).val();

        if(selected_machine !== "") {
            let selected_machine_name = machine_list[selected_machine];
            jQuery("#display_machine_name").text(selected_machine_name);            
        } else {
            jQuery("#display_machine_name").text("Select a machine");
            selected_machine = 0;            
        }

        for (let k in sorting_codes) {
            jQuery("#filter_sorting_code").append('<option value="' + k + '">' + k + '</option>');
        }

        ipcRenderer.send("get:views", selected_machine, "package_list");
        jQuery("#head-loader").html('Packages <img src="./resources/loading.gif">');
    });

    data_table = jQuery('#alarm_table').DataTable({
        dom: 'Bifrtp',
        "paging":         false,
        buttons: [
        {
            extend: 'csv',
            fieldSeparator: ";",
            text: 'Export'
        }],
        "columns": [
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null
        ],
        "order": [],
    });
});
/* let destination_to_bin = {};
for (let d=0; d < 54; d++) {
    let vd = d;
    if(d < 10) {
        if(d == 0) {
            vd = "02";
        } else {
            vd = "0" + d;
        }
    }

    destination_to_bin[d] = vd;
} */


//console.log(destination_to_bin);

ipcRenderer.on("render:package_list", function(e, package_list_result) {

    machine_mode = package_list_result['mode'];
    changeMachineNameBg(machine_mode);
    //console.log("Mode: ", machine_mode);
    //console.log(package_list_result);
    //jQuery("#package_list_tbody").empty();
    data_table.clear().search( '' ).columns().search( '' ).draw();
    

    let packages_result = package_list_result['packages'];
    //console.log(packages_result);
    for (let k in packages_result) {
        let related_package_info = packages_result[k];
        
        let mail_id = Number(related_package_info['m_id']), 
        length = Number(related_package_info['l']), 
        reject_code = Number(related_package_info['r_c']), 
        sorting_code = related_package_info['s_c'], 
	    destination = Number(related_package_info['d']), 
        timestamp = related_package_info['t'],
        final_destination = Number(related_package_info['f_d']),
        barcode_string = related_package_info['b_s'];

        timestamp = timeConverter(timestamp);

        let destination_txt = destination_to_bin(destination);
        let final_destination_txt = destination_to_bin(final_destination);

        //sorting_code_txt = sorting_codes[sorting_code];
        sorting_code_txt = Number(sorting_code);

        //console.log("ts: " + timestamp + " m: " + mail_id + " l: " + length + " b_s: "+ barcode_string + " r_c: " + reject_code + " s_c: " + sorting_code_txt + " ds: " + destination_txt + " fds: " + final_destination_txt);
        
        // <th>Timestamp</th>
        // <th>MailId</th>
        // <th>Length</th>
        // <th>RejectCode</th>
        // <th>SortedCode</th>
        // <th>Destination</th>
        // <th>FinalDestination</th>

        data_table.row.add( [
            timestamp,
            mail_id,
            length,
            barcode_string,
            reject_code,
            sorting_code_txt,
            destination_txt,
            final_destination_txt
        ] ).draw( false );

        //jQuery("#active_alarm_tbody").append(tr_html);
    }

    /* data_table.columns().every(function () {
        var column = this;
        
        if (column.index() === 3 || column.index() === 4) {
            let select_txt = "";
            let select_id = "";
            if(column.index() === 3) {
                select_txt = "Select reject code";
                select_id = "#reject_code_filter";
                jQuery(select_id).empty().append('<option value="">'+ select_txt +'</option>').val('');
            } else {
                select_txt = "Select sorting code";
                select_id = "#sorting_code_filter";
                jQuery(select_id).empty().append('<option value="">'+ select_txt +'</option>').val('');
            }
            
            let select = $(select_id);
            column.data().unique().sort().each(function (d, j) {
                //console.log(d);
                select.append('<option value="' + d + '">' + d + '</option>')
            });
        }
    }); */

    //data_table.draw();
    jQuery("#head-loader").html('Packages');
});
</script>
</body>
</html>