<%- include('header', {currentMenu: 'status', pageTitle: 'Status'}); %>
    <div class="row m-0 mt-1">
        <div class="col-lg-12" style="padding: 0 50px; text-align: center;">
            <svg style="height: 630px;" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 480">
                <defs>
                <style>
                    .cls-1,.cls-8{fill:#f1f1f2;}
                    .cls-2{fill:#e6e7e8;}
                    .cls-3,.cls-4{font-size:12.675px;fill:#58595b;}
                    .cls-3{font-family:Trebuchet MS;}
                    .cls-4{font-family:Trebuchet MS;}
                    .cls-5{fill:#e6e7e8;}
                    .cls-6{fill:#bbbdbf;}
                    .cls-7{fill:#bbbdbf;}
                    .cls-8{stroke:#e6e7e8; stroke-miterlimit:10;}
                    .cls-9{fill:#d0d2d3;}.cls-10{fill:none;stroke:#f1f1f2;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}.cls-11{fill:#231f20;}.cls-12{fill:#808083;}.cls-13{fill:#221f1f;}.cls-14{fill:#fcee21;}
                </style>
                </defs>
                <polygon class="cls-1" points="496.752 30.616 488.151 30.616 486.34 58.945 488.151 87.275 496.752 87.275 498.563 58.945 496.752 30.616"/>
                <polygon class="cls-1" points="468.981 30.616 460.38 30.616 458.569 58.945 460.38 87.275 468.981 87.275 470.792 58.945 468.981 30.616"/>
                <polygon class="cls-1" points="441.21 30.616 432.609 30.616 430.798 58.945 432.609 87.275 441.21 87.275 443.021 58.945 441.21 30.616"/>
                <polygon class="cls-1" points="413.439 30.616 404.838 30.616 403.027 58.945 404.838 87.275 413.439 87.275 415.25 58.945 413.439 30.616"/>
                <polygon class="cls-1" points="385.668 30.616 377.067 30.616 375.256 58.945 377.067 87.275 385.668 87.275 387.479 58.945 385.668 30.616"/>
                <polygon class="cls-1" points="357.897 30.616 349.296 30.616 347.485 58.945 349.296 87.275 357.897 87.275 359.708 58.945 357.897 30.616"/>
                <polygon class="cls-1" points="330.126 30.616 321.525 30.616 319.714 58.945 321.525 87.275 330.126 87.275 331.937 58.945 330.126 30.616"/>
                <polygon class="cls-1" points="302.355 30.616 293.754 30.616 291.943 58.945 293.754 87.275 302.355 87.275 304.166 58.945 302.355 30.616"/>
                <polygon class="cls-1" points="274.584 30.616 265.983 30.616 264.172 58.945 265.983 87.275 274.584 87.275 276.395 58.945 274.584 30.616"/>
                <polygon class="cls-1" points="246.813 30.616 238.212 30.616 236.401 58.945 238.212 87.275 246.813 87.275 248.624 58.945 246.813 30.616"/>
                <polygon class="cls-1" points="219.042 30.616 210.441 30.616 208.63 58.945 210.441 87.275 219.042 87.275 220.853 58.945 219.042 30.616"/>
                <polygon class="cls-1" points="191.271 30.616 182.67 30.616 180.859 58.945 182.67 87.275 191.271 87.275 193.082 58.945 191.271 30.616"/>
                <polygon class="cls-1" points="163.5 30.616 154.899 30.616 153.088 58.945 154.899 87.275 163.5 87.275 165.311 58.945 163.5 30.616"/>
                <polygon class="cls-1" points="135.729 30.616 127.128 30.616 125.318 58.945 127.128 87.275 135.729 87.275 137.54 58.945 135.729 30.616"/>
                <polygon class="cls-1" points="107.958 30.616 99.357 30.616 97.547 58.945 99.357 87.275 107.958 87.275 109.769 58.945 107.958 30.616"/>
                <rect class="cls-2" x="481.159" y="15.822" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(486.158 31.823)">30</text>
                <rect class="cls-2" x="481.159" y="75.45" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(486.158 91.322)">29</text>
                <rect class="cls-2" x="342.304" y="75.45" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(347.095 91.322)">19</text>
                <rect class="cls-2" x="342.304" y="15.822" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-4" transform="translate(346.548 31.828)">20</text>
                <rect class="cls-2" x="203.449" y="75.45" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(211.492 91.322)">9</text>
                <rect class="cls-2" x="203.449" y="15.822" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(208.241 31.828)">10</text>
                <rect class="cls-2" x="231.22" y="15.822" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(236.307 31.828)">12</text>
                <rect class="cls-2" x="258.991" y="15.822" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(263.468 31.828)">14</text>
                <rect class="cls-2" x="286.762" y="15.822" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(291.535 31.828)">16</text>
                <rect class="cls-2" x="314.533" y="15.822" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(319.601 31.828)">18</text>
                <rect class="cls-2" x="231.22" y="75.45" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(236.307 91.582)">11</text>
                <rect class="cls-2" x="258.991" y="75.45" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(263.468 91.582)">13</text>
                <rect class="cls-2" x="286.762" y="75.45" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(291.535 91.582)">15</text>
                <rect class="cls-2" x="314.533" y="75.45" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(319.601 91.582)">17</text>
                <rect class="cls-2" x="370.075" y="15.822" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(374.829 31.828)">22</text>
                <rect class="cls-2" x="397.846" y="15.822" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(401.99 31.828)">24</text>
                <rect class="cls-2" x="425.617" y="15.822" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(430.056 31.828)">26</text>
                <rect class="cls-2" x="453.388" y="15.822" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(458.123 31.828)">28</text>
                <rect class="cls-2" x="370.075" y="75.45" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(374.829 91.582)">21</text>
                <rect class="cls-2" x="397.846" y="75.45" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(401.99 91.582)">23</text>
                <rect class="cls-2" x="425.617" y="75.45" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(430.056 91.582)">25</text>
                <rect class="cls-2" x="453.388" y="75.45" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(458.123 91.582)">27</text>
                <rect class="cls-2" x="92.365" y="75.45" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(100.408 91.322)">1</text>
                <rect class="cls-2" x="120.136" y="75.45" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(128.177 91.322)">3</text>
                <rect class="cls-2" x="147.907" y="75.45" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(155.949 91.322)">5</text>
                <rect class="cls-2" x="175.678" y="75.45" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(183.719 91.322)">7</text>
                <rect class="cls-2" x="92.365" y="15.822" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(100.408 31.828)">2</text>
                <rect class="cls-2" x="120.136" y="15.822" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(128.178 31.828)">4</text>
                <rect class="cls-2" x="147.907" y="15.822" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(155.949 31.828)">6</text>
                <rect class="cls-2" x="175.678" y="15.822" width="22.585" height="25.419" rx="5.381"/>
                <text class="cls-3" transform="translate(183.72 31.828)">8</text>
                <path class="cls-1" d="M552.163,64.046l14.175-1.4v-8.6l-14.175-1.4A3.787,3.787,0,0,0,548,56.413v3.865A3.787,3.787,0,0,0,552.163,64.046Z"/>
                <rect class="cls-2" x="560.581" y="47.053" width="25.419" height="22.585" rx="5.381"/>
                <text class="cls-3" transform="translate(567.739 62.465)">31</text>
                <rect class="cls-2" x="86.834" y="49.176" width="465.079" height="18.339" rx="3.872"/>
                <path class="cls-5" d="M548.041,49.676a3.376,3.376,0,0,1,3.371,3.372v10.6a3.376,3.376,0,0,1-3.371,3.372H90.706a3.376,3.376,0,0,1-3.372-3.372V53.048a3.376,3.376,0,0,1,3.372-3.372H548.041m0-1H90.706a4.372,4.372,0,0,0-4.372,4.372v10.6a4.372,4.372,0,0,0,4.372,4.372H548.041a4.371,4.371,0,0,0,4.371-4.372V53.048a4.371,4.371,0,0,0-4.371-4.372Z"/>
                <path class="cls-6" d="M110.9,51.749H96.415a.453.453,0,0,0-.453.453V64.489a.453.453,0,0,0,.453.453H110.9a.452.452,0,0,0,.452-.453V52.2A.452.452,0,0,0,110.9,51.749Zm-.453,12.287H96.868V52.655h13.58Z"/>
                <path class="cls-6" d="M99.214,55.091h8.553a.518.518,0,1,0,0-1.035H99.214a.518.518,0,1,0,0,1.035Z"/>
                <path class="cls-6" d="M99.213,57.693h8.554a.517.517,0,1,0,0-1.034H99.213a.517.517,0,0,0,0,1.034Z"/>
                <path class="cls-6" d="M99.213,60.3h8.554a.517.517,0,1,0,0-1.034H99.213a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M99.213,62.9h8.554a.517.517,0,1,0,0-1.034H99.213a.517.517,0,0,0,0,1.034Z"/>
                <path class="cls-6" d="M138.672,51.749H124.186a.453.453,0,0,0-.453.453V64.489a.453.453,0,0,0,.453.453h14.486a.452.452,0,0,0,.452-.453V52.2A.452.452,0,0,0,138.672,51.749Zm-.453,12.287h-13.58V52.655h13.58Z"/>
                <path class="cls-6" d="M126.984,55.091h8.554a.518.518,0,1,0,0-1.035h-8.554a.518.518,0,0,0,0,1.035Z"/>
                <path class="cls-6" d="M126.984,57.693h8.554a.517.517,0,1,0,0-1.034h-8.554a.517.517,0,0,0,0,1.034Z"/>
                <path class="cls-6" d="M126.984,60.3h8.554a.517.517,0,1,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M126.984,62.9h8.554a.517.517,0,1,0,0-1.034h-8.554a.517.517,0,0,0,0,1.034Z"/>
                <path class="cls-6" d="M166.443,51.749H151.957a.453.453,0,0,0-.453.453V64.489a.453.453,0,0,0,.453.453h14.486a.452.452,0,0,0,.452-.453V52.2A.452.452,0,0,0,166.443,51.749Zm-.453,12.287H152.409V52.655H165.99Z"/>
                <path class="cls-6" d="M154.755,55.091h8.554a.518.518,0,1,0,0-1.035h-8.554a.518.518,0,0,0,0,1.035Z"/>
                <path class="cls-6" d="M154.755,57.693h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,0,0,0,1.034Z"/>
                <path class="cls-6" d="M154.755,60.3h8.554a.517.517,0,1,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M154.755,62.9h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,0,0,0,1.034Z"/>
                <path class="cls-6" d="M194.214,51.749H179.728a.453.453,0,0,0-.453.453V64.489a.453.453,0,0,0,.453.453h14.486a.452.452,0,0,0,.452-.453V52.2A.452.452,0,0,0,194.214,51.749Zm-.453,12.287H180.18V52.655h13.581Z"/>
                <path class="cls-6" d="M182.526,55.091h8.554a.518.518,0,1,0,0-1.035h-8.554a.518.518,0,0,0,0,1.035Z"/>
                <path class="cls-6" d="M182.526,57.693h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M182.526,60.3h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,0,0,0,1.034Z"/>
                <path class="cls-6" d="M182.526,62.9h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M221.985,51.749H207.5a.453.453,0,0,0-.453.453V64.489a.453.453,0,0,0,.453.453h14.486a.452.452,0,0,0,.452-.453V52.2A.452.452,0,0,0,221.985,51.749Zm-.453,12.287H207.951V52.655h13.581Z"/>
                <path class="cls-6" d="M210.3,55.091h8.554a.518.518,0,1,0,0-1.035H210.3a.518.518,0,0,0,0,1.035Z"/>
                <path class="cls-6" d="M210.3,57.693h8.554a.517.517,0,0,0,0-1.034H210.3a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M210.3,60.3h8.554a.517.517,0,0,0,0-1.034H210.3a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M210.3,62.9h8.554a.517.517,0,0,0,0-1.034H210.3a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M249.756,51.749H235.27a.453.453,0,0,0-.453.453V64.489a.453.453,0,0,0,.453.453h14.486a.452.452,0,0,0,.452-.453V52.2A.452.452,0,0,0,249.756,51.749ZM249.3,64.036H235.722V52.655H249.3Z"/>
                <path class="cls-6" d="M238.068,55.091h8.554a.518.518,0,0,0,0-1.035h-8.554a.518.518,0,0,0,0,1.035Z"/>
                <path class="cls-6" d="M238.068,57.693h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,0,0,0,1.034Z"/>
                <path class="cls-6" d="M238.068,60.3h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M238.068,62.9h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,0,0,0,1.034Z"/>
                <path class="cls-6" d="M277.527,51.749H263.041a.453.453,0,0,0-.453.453V64.489a.453.453,0,0,0,.453.453h14.486a.452.452,0,0,0,.452-.453V52.2A.452.452,0,0,0,277.527,51.749Zm-.453,12.287H263.493V52.655h13.581Z"/>
                <path class="cls-6" d="M265.839,55.091h8.554a.518.518,0,0,0,0-1.035h-8.554a.518.518,0,0,0,0,1.035Z"/>
                <path class="cls-6" d="M265.839,57.693h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M265.839,60.3h8.554a.517.517,0,1,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M265.839,62.9h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M305.3,51.749H290.812a.453.453,0,0,0-.453.453V64.489a.453.453,0,0,0,.453.453H305.3a.452.452,0,0,0,.452-.453V52.2A.452.452,0,0,0,305.3,51.749Zm-.453,12.287H291.264V52.655h13.581Z"/>
                <path class="cls-6" d="M293.61,55.091h8.554a.518.518,0,0,0,0-1.035H293.61a.518.518,0,0,0,0,1.035Z"/>
                <path class="cls-6" d="M293.61,57.693h8.554a.517.517,0,0,0,0-1.034H293.61a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M293.61,60.3h8.554a.517.517,0,0,0,0-1.034H293.61a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M293.61,62.9h8.554a.517.517,0,0,0,0-1.034H293.61a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M333.068,51.749H318.583a.453.453,0,0,0-.453.453V64.489a.453.453,0,0,0,.453.453h14.485a.453.453,0,0,0,.453-.453V52.2A.453.453,0,0,0,333.068,51.749Zm-.452,12.287H319.035V52.655h13.581Z"/>
                <path class="cls-6" d="M321.381,55.091h8.554a.518.518,0,0,0,0-1.035h-8.554a.518.518,0,0,0,0,1.035Z"/>
                <path class="cls-6" d="M321.381,57.693h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M321.381,60.3h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M321.381,62.9h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M360.839,51.749H346.354a.453.453,0,0,0-.453.453V64.489a.453.453,0,0,0,.453.453h14.485a.453.453,0,0,0,.453-.453V52.2A.453.453,0,0,0,360.839,51.749Zm-.452,12.287H346.806V52.655h13.581Z"/>
                <path class="cls-6" d="M349.152,55.091h8.554a.518.518,0,0,0,0-1.035h-8.554a.518.518,0,0,0,0,1.035Z"/>
                <path class="cls-6" d="M349.152,57.693h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M349.152,60.3h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M349.152,62.9h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M388.61,51.749H374.124a.452.452,0,0,0-.452.453V64.489a.452.452,0,0,0,.452.453H388.61a.453.453,0,0,0,.453-.453V52.2A.453.453,0,0,0,388.61,51.749Zm-.452,12.287H374.577V52.655h13.581Z"/>
                <path class="cls-6" d="M376.923,55.091h8.554a.518.518,0,0,0,0-1.035h-8.554a.518.518,0,0,0,0,1.035Z"/>
                <path class="cls-6" d="M376.923,57.693h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M376.923,60.3h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M376.923,62.9h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M416.381,51.749H401.9a.452.452,0,0,0-.452.453V64.489a.452.452,0,0,0,.452.453h14.486a.453.453,0,0,0,.453-.453V52.2A.453.453,0,0,0,416.381,51.749Zm-.452,12.287H402.348V52.655h13.581Z"/>
                <path class="cls-6" d="M404.694,55.091h8.554a.518.518,0,0,0,0-1.035h-8.554a.518.518,0,0,0,0,1.035Z"/>
                <path class="cls-6" d="M404.694,57.693h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M404.694,60.3h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M404.694,62.9h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M444.152,51.749H429.666a.452.452,0,0,0-.452.453V64.489a.452.452,0,0,0,.452.453h14.486a.453.453,0,0,0,.453-.453V52.2A.453.453,0,0,0,444.152,51.749ZM443.7,64.036H430.119V52.655H443.7Z"/>
                <path class="cls-6" d="M432.465,55.091h8.554a.518.518,0,0,0,0-1.035h-8.554a.518.518,0,0,0,0,1.035Z"/>
                <path class="cls-6" d="M432.465,57.693h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M432.465,60.3h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M432.465,62.9h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M471.923,51.749H457.437a.452.452,0,0,0-.452.453V64.489a.452.452,0,0,0,.452.453h14.486a.453.453,0,0,0,.453-.453V52.2A.453.453,0,0,0,471.923,51.749Zm-.452,12.287H457.89V52.655h13.581Z"/>
                <path class="cls-6" d="M460.236,55.091h8.554a.518.518,0,0,0,0-1.035h-8.554a.518.518,0,0,0,0,1.035Z"/>
                <path class="cls-6" d="M460.236,57.693h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M460.236,60.3h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M460.236,62.9h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M499.694,51.749H485.208a.452.452,0,0,0-.452.453V64.489a.452.452,0,0,0,.452.453h14.486a.453.453,0,0,0,.453-.453V52.2A.453.453,0,0,0,499.694,51.749Zm-.452,12.287H485.661V52.655h13.581Z"/>
                <path class="cls-6" d="M488.007,55.091h8.554a.518.518,0,0,0,0-1.035h-8.554a.518.518,0,0,0,0,1.035Z"/>
                <path class="cls-6" d="M488.007,57.693h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M488.007,60.3h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-6" d="M488.007,62.9h8.554a.517.517,0,0,0,0-1.034h-8.554a.517.517,0,1,0,0,1.034Z"/>
                <rect class="cls-2" x="74.764" y="54.318" width="9.259" height="8.054"/>
                <path class="cls-5" d="M83.523,54.818v7.054H75.264V54.818h8.259m1-1H74.264v9.054H84.523V53.818Z"/>
                <rect class="cls-2" x="48.507" y="54.318" width="23.445" height="8.054"/>
                <path class="cls-5" d="M71.453,54.818v7.054H49.007V54.818H71.453m1-1H48.007v9.054H72.453V53.818Z"/>
                <rect class="cls-2" x="60.066" y="115.131" width="123.746" height="8.054"/>
                <path class="cls-5" d="M183.312,115.631v7.053H60.566v-7.053H183.312m1-1H59.566v9.053H184.312v-9.053Z"/>
                <rect class="cls-2" x="26.506" y="76.328" width="8.054" height="25.061"/>
                <path class="cls-5" d="M34.06,76.828v24.061H27.006V76.828H34.06m1-1H26.006v26.061H35.06V75.828Z"/>
                <rect class="cls-2" x="197.768" y="137.131" width="11.943" height="6.173"/>
                <path class="cls-5" d="M209.212,137.631V142.8H198.268v-5.173h10.944m1-1H197.268V143.8h12.944v-7.173Z"/>
                <rect class="cls-2" x="197.768" y="146.115" width="11.943" height="6.173"/>
                <path class="cls-5" d="M209.212,146.615v5.173H198.268v-5.173h10.944m1-1H197.268v7.173h12.944v-7.173Z"/>
                <rect class="cls-2" x="197.768" y="155.099" width="11.943" height="6.173"/>
                <path class="cls-5" d="M209.212,155.6v5.173H198.268V155.6h10.944m1-1H197.268v7.173h12.944V154.6Z"/>
                <rect class="cls-2" x="197.768" y="164.083" width="11.943" height="6.173"/>
                <path class="cls-5" d="M209.212,164.583v5.173H198.268v-5.173h10.944m1-1H197.268v7.173h12.944v-7.173Z"/>
                <rect class="cls-2" x="197.768" y="173.067" width="11.943" height="6.173"/>
                <path class="cls-5" d="M209.212,173.567v5.173H198.268v-5.173h10.944m1-1H197.268v7.173h12.944v-7.173Z"/>
                <rect class="cls-2" x="197.768" y="182.051" width="11.943" height="6.173"/>
                <path class="cls-5" d="M209.212,182.551v5.173H198.268v-5.173h10.944m1-1H197.268v7.173h12.944v-7.173Z"/>
                <rect class="cls-2" x="197.768" y="191.035" width="11.943" height="15.763"/>
                <path class="cls-5" d="M209.212,191.535V206.3H198.268V191.535h10.944m1-1H197.268V207.3h12.944V190.535Z"/>
                <path class="cls-2" d="M26.512,73.517A19.718,19.718,0,0,1,45.7,54.325v8.1A11.616,11.616,0,0,0,34.607,73.517Z"/>
                <path class="cls-5" d="M45.2,54.844v7.114A12.119,12.119,0,0,0,34.138,73.017H27.032A19.222,19.222,0,0,1,45.2,54.844m1-1.026a20.193,20.193,0,0,0-20.19,20.2H35.1a11.1,11.1,0,0,1,11.1-11.1v-9.1Z"/>
                <path class="cls-2" d="M197.712,134.32a11.613,11.613,0,0,0-11.089-11.088v-8.095c10.418.263,22.7,8.678,23.081,19.183Z"/>
                <path class="cls-5" d="M187.123,115.656c9.912.5,21.319,8.335,22.052,18.164H198.182a12.119,12.119,0,0,0-11.059-11.058v-7.106m-1-1.025v9.09a11.1,11.1,0,0,1,11.1,11.1h12.989c0-11.154-12.935-20.189-24.089-20.189Z"/>
                <path class="cls-2" d="M46.2,123.184A19.718,19.718,0,0,1,26.505,104H34.61a11.613,11.613,0,0,0,11.589,11.1l11.056.035v8.055Z"/>
                <path class="cls-5" d="M34.14,104.5a12.115,12.115,0,0,0,12.055,11.1l10.561.033v7.057H46.2A19.218,19.218,0,0,1,27.026,104.5H34.14m.959-1H26a20.192,20.192,0,0,0,20.2,20.189H57.756v-9.053L46.2,114.594a11.1,11.1,0,0,1-11.1-11.1Z"/>
                <rect class="cls-2" x="197.768" y="209.609" width="11.943" height="11.91"/>
                <path class="cls-5" d="M209.212,210.109v10.91H198.268v-10.91h10.944m1-1H197.268v12.91h12.944v-12.91Z"/>
                <path class="cls-7" d="M199.48,212.179h8.553a.518.518,0,1,0,0-1.035H199.48a.518.518,0,1,0,0,1.035Z"/>
                <path class="cls-7" d="M199.48,214.781h8.554a.518.518,0,0,0,0-1.035H199.48a.518.518,0,1,0,0,1.035Z"/>
                <path class="cls-7" d="M199.48,217.383h8.554a.518.518,0,0,0,0-1.035H199.48a.518.518,0,1,0,0,1.035Z"/>
                <path class="cls-7" d="M199.48,219.985h8.554a.518.518,0,0,0,0-1.035H199.48a.518.518,0,1,0,0,1.035Z"/>
                <rect class="cls-2" x="197.768" y="224.33" width="11.943" height="33.399"/>
                <path class="cls-5" d="M209.212,224.83v32.4H198.268v-32.4h10.944m1-1H197.268v34.4h12.944v-34.4Z"/>
                <path class="cls-7" d="M199.48,251.066h8.554a.517.517,0,0,0,0-1.034H199.48a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-7" d="M199.48,253.668h8.554a.517.517,0,1,0,0-1.034H199.48a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-7" d="M199.48,256.27h8.554a.517.517,0,0,0,0-1.034H199.48a.517.517,0,1,0,0,1.034Z"/>
                <rect class="cls-2" x="197.768" y="260.54" width="11.943" height="33.399"/>
                <path class="cls-5" d="M209.212,261.04v32.4H198.268v-32.4h10.944m1-1H197.268v34.4h12.944v-34.4Z"/>
                <path class="cls-7" d="M199.48,287.281h8.554a.517.517,0,0,0,0-1.034H199.48a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-7" d="M199.48,289.883h8.554a.517.517,0,0,0,0-1.034H199.48a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-7" d="M199.48,292.485h8.554a.517.517,0,1,0,0-1.034H199.48a.517.517,0,1,0,0,1.034Z"/>
                <rect class="cls-2" x="197.768" y="296.749" width="11.943" height="33.399"/>
                <path class="cls-5" d="M209.212,297.249v32.4H198.268v-32.4h10.944m1-1H197.268v34.4h12.944v-34.4Z"/>
                <path class="cls-7" d="M199.48,323.5h8.554a.518.518,0,0,0,0-1.035H199.48a.518.518,0,1,0,0,1.035Z"/>
                <path class="cls-7" d="M199.48,326.1h8.554a.518.518,0,0,0,0-1.035H199.48a.518.518,0,1,0,0,1.035Z"/>
                <path class="cls-7" d="M199.48,328.7h8.554a.518.518,0,0,0,0-1.035H199.48a.518.518,0,1,0,0,1.035Z"/>
                <rect class="cls-2" x="197.768" y="332.959" width="11.943" height="33.399"/>
                <path class="cls-5" d="M209.212,333.459v32.4H198.268v-32.4h10.944m1-1H197.268v34.4h12.944v-34.4Z"/>
                <path class="cls-7" d="M199.48,359.711h8.554a.518.518,0,0,0,0-1.035H199.48a.518.518,0,1,0,0,1.035Z"/>
                <path class="cls-7" d="M199.48,362.313h8.554a.518.518,0,0,0,0-1.035H199.48a.518.518,0,1,0,0,1.035Z"/>
                <path class="cls-7" d="M199.48,364.915h8.554a.518.518,0,0,0,0-1.035H199.48a.518.518,0,1,0,0,1.035Z"/>
                <rect class="cls-2" x="197.768" y="369.169" width="11.943" height="33.399"/>
                <path class="cls-5" d="M209.212,369.669v32.4H198.268v-32.4h10.944m1-1H197.268v34.4h12.944v-34.4Z"/>
                <path class="cls-7" d="M199.48,395.925h8.554a.517.517,0,0,0,0-1.034H199.48a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-7" d="M199.48,398.527h8.554a.517.517,0,0,0,0-1.034H199.48a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-7" d="M199.48,401.13h8.554a.518.518,0,0,0,0-1.035H199.48a.518.518,0,1,0,0,1.035Z"/>
                <path class="cls-2" d="M200.169,438.777a2.4,2.4,0,0,1-2.4-2.4v-31h11.943v31a2.4,2.4,0,0,1-2.4,2.4Z"/>
                <path class="cls-5" d="M209.212,405.879v30.5a1.9,1.9,0,0,1-1.9,1.9h-7.141a1.9,1.9,0,0,1-1.9-1.9v-30.5h10.944m1-1H197.268v31.5a2.9,2.9,0,0,0,2.9,2.9h7.141a2.9,2.9,0,0,0,2.9-2.9v-31.5Z"/>
                <path class="cls-7" d="M199.48,432.14h8.554a.517.517,0,1,0,0-1.034H199.48a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-7" d="M199.48,434.742h8.554a.517.517,0,0,0,0-1.034H199.48a.517.517,0,1,0,0,1.034Z"/>
                <path class="cls-7" d="M199.48,437.344h8.554a.517.517,0,0,0,0-1.034H199.48a.517.517,0,1,0,0,1.034Z"/>
                <rect class="cls-2" x="99.694" y="240" width="8.633" height="21.164" transform="translate(306.691 70.221) rotate(70.877)"/>
                <path class="cls-2" d="M30.742,273.814a2.263,2.263,0,0,1,1.4-2.879l35.315-12.252.788-.271,2.833,8.157-.787.271L34.967,279.089a2.262,2.262,0,0,1-2.88-1.4Z"/>
                <path class="cls-8" d="M182.138,226.8l12.268-4.2c.585-.2.754-.405.754-1.427l.04-4.289a1.122,1.122,0,0,0-1.427-.692l-13.67,4.739-.081-.233a3.622,3.622,0,0,0-4.608-2.233l-61.7,21.395a3.622,3.622,0,0,0-2.236,4.608l2.186,6.3A3.621,3.621,0,0,0,118.268,253l61.705-21.4A3.621,3.621,0,0,0,182.209,227Z"/>
                <rect class="cls-2" x="168.832" y="221.162" width="6.215" height="11.734" rx="1.811" transform="translate(330.113 -9.797) rotate(70.877)"/>
                <rect class="cls-2" x="156.28" y="225.513" width="6.215" height="11.734" rx="1.811" transform="translate(325.785 4.988) rotate(70.877)"/>
                <rect class="cls-2" x="143.729" y="229.865" width="6.215" height="11.734" rx="1.811" transform="translate(321.457 19.773) rotate(70.877)"/>
                <rect class="cls-2" x="131.178" y="234.217" width="6.215" height="11.734" rx="1.811" transform="translate(317.13 34.558) rotate(70.877)"/>
                <rect class="cls-2" x="118.626" y="238.569" width="6.215" height="11.734" rx="1.811" transform="translate(312.802 49.343) rotate(70.877)"/>
                <rect class="cls-9" x="74.931" y="244.124" width="14.289" height="28.126" rx="3.621" transform="translate(299.128 96.059) rotate(70.877)"/>
                <rect class="cls-9" x="100.892" y="244.718" width="6.215" height="11.734" rx="1.811" transform="translate(306.687 70.233) rotate(70.877)"/>
                <path class="cls-8" d="M181.878,441.774l12.268-4.2c.586-.2.755-.405.755-1.428l.04-4.288a1.122,1.122,0,0,0-1.428-.693l-13.67,4.74-.081-.233a3.622,3.622,0,0,0-4.607-2.234L125,450.829a3.622,3.622,0,0,0-2.235,4.608l2.186,6.305a3.622,3.622,0,0,0,4.608,2.235l50.156-17.391a3.621,3.621,0,0,0,2.236-4.607Z"/>
                <rect class="cls-9" x="168.572" y="436.14" width="6.215" height="11.734" rx="1.811" transform="translate(533.054 135.001) rotate(70.877)"/>
                <rect class="cls-2" x="156.021" y="440.492" width="6.215" height="11.734" rx="1.811" transform="translate(528.726 149.786) rotate(70.877)"/>
                <rect class="cls-2" x="143.47" y="444.844" width="6.215" height="11.734" rx="1.811" transform="translate(524.398 164.571) rotate(70.877)"/>
                <rect class="cls-2" x="130.918" y="449.196" width="6.215" height="11.734" rx="1.811" transform="translate(520.071 179.356) rotate(70.877)"/>
                <path class="cls-8" d="M182.138,407.238l12.268-4.2c.585-.2.754-.405.754-1.427l.04-4.289a1.122,1.122,0,0,0-1.427-.692l-13.67,4.74-.081-.234a3.622,3.622,0,0,0-4.608-2.233l-50.156,17.391a3.622,3.622,0,0,0-2.236,4.608l2.186,6.3a3.621,3.621,0,0,0,4.608,2.235l50.157-17.391a3.621,3.621,0,0,0,2.236-4.606Z"/>
                <rect class="cls-9" x="168.832" y="401.605" width="6.215" height="11.734" rx="1.811" transform="translate(500.599 111.534) rotate(70.877)"/>
                <rect class="cls-2" x="156.28" y="405.957" width="6.215" height="11.734" rx="1.811" transform="translate(496.271 126.319) rotate(70.877)"/>
                <rect class="cls-2" x="143.729" y="410.309" width="6.215" height="11.734" rx="1.811" transform="translate(491.943 141.104) rotate(70.877)"/>
                <rect class="cls-2" x="131.178" y="414.661" width="6.215" height="11.734" rx="1.811" transform="translate(487.615 155.889) rotate(70.877)"/>
                <rect class="cls-2" x="99.694" y="275.554" width="8.633" height="21.164" transform="translate(340.283 94.128) rotate(70.877)"/>
                <path class="cls-2" d="M30.742,309.369a2.264,2.264,0,0,1,1.4-2.88l35.315-12.252.788-.271,2.833,8.157-.787.271-35.321,12.25a2.264,2.264,0,0,1-2.88-1.4Z"/>
                <path class="cls-8" d="M182.138,262.349l12.268-4.2c.585-.2.754-.4.754-1.427l.04-4.289a1.122,1.122,0,0,0-1.427-.692l-13.67,4.74-.081-.234a3.622,3.622,0,0,0-4.608-2.233l-61.7,21.395a3.622,3.622,0,0,0-2.236,4.608l2.186,6.3a3.621,3.621,0,0,0,4.608,2.235l61.705-21.395a3.621,3.621,0,0,0,2.236-4.606Z"/>
                <rect class="cls-2" x="168.832" y="256.716" width="6.215" height="11.734" rx="1.811" transform="translate(363.705 14.11) rotate(70.877)"/>
                <rect class="cls-2" x="156.28" y="261.068" width="6.215" height="11.734" rx="1.811" transform="translate(359.377 28.895) rotate(70.877)"/>
                <rect class="cls-2" x="143.729" y="265.42" width="6.215" height="11.734" rx="1.811" transform="translate(355.05 43.68) rotate(70.877)"/>
                <rect class="cls-2" x="131.178" y="269.772" width="6.215" height="11.734" rx="1.811" transform="translate(350.722 58.465) rotate(70.877)"/>
                <rect class="cls-2" x="118.626" y="274.123" width="6.215" height="11.734" rx="1.811" transform="translate(346.394 73.25) rotate(70.877)"/>
                <rect class="cls-9" x="74.931" y="279.678" width="14.289" height="28.126" rx="3.621" transform="translate(332.72 119.966) rotate(70.877)"/>
                <rect class="cls-9" x="100.892" y="280.272" width="6.215" height="11.734" rx="1.811" transform="translate(340.279 94.14) rotate(70.877)"/>
                <rect class="cls-2" x="99.694" y="312.014" width="8.633" height="21.164" transform="translate(374.731 118.643) rotate(70.877)"/>
                <path class="cls-2" d="M30.742,345.828a2.264,2.264,0,0,1,1.4-2.88L67.454,330.7l.788-.272,2.833,8.158-.787.271L34.967,351.1a2.263,2.263,0,0,1-2.88-1.4Z"/>
                <path class="cls-8" d="M182.138,298.808l12.268-4.2c.585-.2.754-.406.754-1.428l.04-4.288a1.121,1.121,0,0,0-1.427-.693l-13.67,4.74-.081-.233a3.622,3.622,0,0,0-4.608-2.234l-61.7,21.395a3.622,3.622,0,0,0-2.236,4.608l2.186,6.3a3.622,3.622,0,0,0,4.608,2.236l61.705-21.4a3.622,3.622,0,0,0,2.236-4.607Z"/>
                <rect class="cls-2" x="168.832" y="293.175" width="6.215" height="11.734" rx="1.811" transform="translate(398.153 38.625) rotate(70.877)"/>
                <rect class="cls-2" x="156.28" y="297.527" width="6.215" height="11.734" rx="1.811" transform="translate(393.825 53.41) rotate(70.877)"/>
                <rect class="cls-2" x="143.729" y="301.879" width="6.215" height="11.734" rx="1.811" transform="translate(389.497 68.195) rotate(70.877)"/>
                <rect class="cls-2" x="131.178" y="306.231" width="6.215" height="11.734" rx="1.811" transform="translate(385.169 82.981) rotate(70.877)"/>
                <rect class="cls-2" x="118.626" y="310.583" width="6.215" height="11.734" rx="1.811" transform="translate(380.842 97.766) rotate(70.877)"/>
                <rect class="cls-9" x="74.931" y="316.138" width="14.289" height="28.126" rx="3.621" transform="translate(367.167 144.481) rotate(70.877)"/>
                <rect class="cls-9" x="100.892" y="316.732" width="6.215" height="11.734" rx="1.811" transform="translate(374.727 118.655) rotate(70.877)"/>
                <rect class="cls-2" x="99.694" y="348.473" width="8.633" height="21.164" transform="translate(409.179 143.159) rotate(70.877)"/>
                <path class="cls-2" d="M30.742,382.288a2.264,2.264,0,0,1,1.4-2.88l35.315-12.252.788-.271,2.833,8.157-.787.271-35.321,12.25a2.264,2.264,0,0,1-2.88-1.4Z"/>
                <path class="cls-8" d="M182.138,335.268l12.268-4.2c.585-.2.754-.406.754-1.428l.04-4.289a1.122,1.122,0,0,0-1.427-.692L180.1,329.4l-.081-.234a3.622,3.622,0,0,0-4.608-2.233l-61.7,21.395a3.622,3.622,0,0,0-2.236,4.608l2.186,6.3a3.621,3.621,0,0,0,4.608,2.235l61.705-21.4a3.621,3.621,0,0,0,2.236-4.606Z"/>
                <rect class="cls-2" x="168.832" y="329.635" width="6.215" height="11.734" rx="1.811" transform="translate(432.6 63.141) rotate(70.877)"/>
                <rect class="cls-2" x="156.28" y="333.987" width="6.215" height="11.734" rx="1.811" transform="translate(428.272 77.926) rotate(70.877)"/>
                <rect class="cls-2" x="143.729" y="338.339" width="6.215" height="11.734" rx="1.811" transform="translate(423.945 92.711) rotate(70.877)"/>
                <rect class="cls-2" x="131.178" y="342.691" width="6.215" height="11.734" rx="1.811" transform="translate(419.617 107.496) rotate(70.877)"/>
                <rect class="cls-2" x="118.626" y="347.043" width="6.215" height="11.734" rx="1.811" transform="translate(415.289 122.281) rotate(70.877)"/>
                <rect class="cls-9" x="74.931" y="352.598" width="14.289" height="28.126" rx="3.621" transform="translate(401.615 168.997) rotate(70.877)"/>
                <rect class="cls-9" x="100.892" y="353.191" width="6.215" height="11.734" rx="1.811" transform="matrix(0.328, 0.945, -0.945, 0.328, 409.174, 143.171)"/>
                <rect class="cls-2" x="99.694" y="384.933" width="8.633" height="21.164" transform="translate(443.626 167.674) rotate(70.877)"/>
                <path class="cls-2" d="M30.742,418.747a2.264,2.264,0,0,1,1.4-2.88l35.315-12.251.788-.272,2.833,8.158-.787.271L34.967,424.022a2.263,2.263,0,0,1-2.88-1.4Z"/>
                <path class="cls-8" d="M182.138,371.728l12.268-4.2c.585-.2.754-.406.754-1.428l.04-4.288a1.121,1.121,0,0,0-1.427-.693l-13.67,4.74-.081-.233a3.622,3.622,0,0,0-4.608-2.234l-61.7,21.395a3.622,3.622,0,0,0-2.236,4.608l2.186,6.3a3.622,3.622,0,0,0,4.608,2.236l61.705-21.395a3.622,3.622,0,0,0,2.236-4.607Z"/>
                <rect class="cls-2" x="168.832" y="366.094" width="6.215" height="11.734" rx="1.811" transform="translate(467.048 87.656) rotate(70.877)"/>
                <rect class="cls-2" x="156.28" y="370.446" width="6.215" height="11.734" rx="1.811" transform="translate(462.72 102.441) rotate(70.877)"/>
                <rect class="cls-2" x="143.729" y="374.798" width="6.215" height="11.734" rx="1.811" transform="translate(458.392 117.226) rotate(70.877)"/>
                <rect class="cls-2" x="131.178" y="379.15" width="6.215" height="11.734" rx="1.811" transform="translate(454.065 132.011) rotate(70.877)"/>
                <rect class="cls-2" x="118.626" y="383.502" width="6.215" height="11.734" rx="1.811" transform="translate(449.737 146.797) rotate(70.877)"/>
                <rect class="cls-9" x="74.931" y="389.057" width="14.289" height="28.126" rx="3.621" transform="translate(436.062 193.512) rotate(70.877)"/>
                <rect class="cls-9" x="100.892" y="389.651" width="6.215" height="11.734" rx="1.811" transform="translate(443.622 167.686) rotate(70.877)"/>
                <rect class="cls-1" x="103.178" y="141.481" width="27.943" height="5.403" rx="1.811"/>
                <polyline class="cls-10" points="129.443 142.392 131.567 142.392 133.959 144.785 136.371 142.373 136.371 146.425"/>
                <path class="cls-11 device-2" data-toggle="tooltip" title="Sorter Remote I/O" d="M318.347,55.455V61.13H306.182V55.455h12.165m.448-.448H305.734v6.571H318.8V55.007Z">
                    <title class="device-title-2"></title>	
                </path>
                <polygon class="cls-11 device-2" data-toggle="tooltip" title="Sorter Remote I/O" points="305.734 61.532 318.795 61.532 318.795 55.007 305.734 61.532">
                    <title class="device-title-2"></title>
                </polygon>
                <path class="cls-11 device-4" data-toggle="tooltip" title="Drive Gap 2" d="M195.19,141.569v5.674H183.025v-5.674H195.19m.448-.448H182.577v6.57h13.061v-6.57Z">
                    <title class="device-title-4"></title>
                </path>
                <polygon class="cls-11 device-4" data-toggle="tooltip" title="Drive Gap 2" points="182.577 147.646 195.638 147.646 195.638 141.121 182.577 147.646">
                    <title class="device-title-4"></title>
                </polygon>
                <path class="cls-11 device-3" data-toggle="tooltip" title="Drive Gap 3" d="M224.792,131.46v5.674H212.627V131.46h12.165m.448-.448H212.179v6.57H225.24v-6.57Z">
                    <title class="device-title-3"></title>
                </path>
                <polygon class="cls-11 device-3" data-toggle="tooltip" title="Drive Gap 3" points="212.179 137.536 225.24 137.536 225.24 131.012 212.179 137.536">
                    <title class="device-title-3"></title>
                </polygon>
                <path data-toggle="tooltip" title="Ingram" class="cls-11 device-ingram" d="M41,19.194v5.674H28.837V19.194H41m.448-.448H28.389v6.57H41.45v-6.57Z"/>
                <polygon data-toggle="tooltip" title="Ingram" class="cls-11 device-ingram" points="28.389 25.271 41.45 25.271 41.45 18.746 28.389 25.271"/>
                <path class="cls-11 device-5" data-toggle="tooltip" title="Drive Gap 1" d="M224.792,150.622V156.3H212.627v-5.674h12.165m.448-.448H212.179v6.57H225.24v-6.57Z">
                    <title class="device-title-5"></title>
                </path>
                <polygon class="cls-11 device-5" data-toggle="tooltip" title="Drive Gap 1" points="212.179 156.699 225.24 156.699 225.24 150.174 212.179 156.699">
                    <title class="device-title-5"></title>
                </polygon>
                <path class="cls-11 device-6" data-toggle="tooltip" title="Induction Remote I/O" d="M224.792,182.078v5.675H212.627v-5.675h12.165m.448-.448H212.179V188.2H225.24V181.63Z">
                    <title class="device-title-6"></title>
                </path>
                <polygon class="cls-11 device-6" data-toggle="tooltip" title="Induction Remote I/O" points="212.179 188.155 225.24 188.155 225.24 181.63 212.179 188.155">
                    <title class="device-title-6"></title>
                </polygon>
                <path class="cls-11 device-7" data-toggle="tooltip" title="VFD1 Priority Pak Induction 5" d="M194.56,208.286v5.674H182.4v-5.674H194.56m.449-.448H181.947v6.571h13.062v-6.571Z">
                    <title class="device-title-7"></title>
                </path>
                <polygon class="cls-11 device-7" data-toggle="tooltip" title="VFD1 Priority Pak Induction 5" points="181.947 214.363 195.009 214.363 195.009 207.838 181.947 214.363">
                    <title class="device-title-7"></title>
                </polygon>
                <path class="cls-11 device-8" data-toggle="tooltip" title="VFD1 Priority Pak Induction 4" d="M194.56,243.74v5.675H182.4V243.74H194.56m.449-.448H181.947v6.571h13.062v-6.571Z">
                    <title class="device-title-8"></title>
                </path>
                <polygon class="cls-11 device-8" data-toggle="tooltip" title="VFD1 Priority Pak Induction 4" points="181.947 249.817 195.009 249.817 195.009 243.292 181.947 249.817">
                    <title class="device-title-8"></title>
                </polygon>
                <path class="cls-11 device-9" data-toggle="tooltip" title="VFD1 Priority Pak Induction 3" d="M194.56,280.337v5.674H182.4v-5.674H194.56m.449-.448H181.947v6.57h13.062v-6.57Z">
                    <title class="device-title-9"></title>
                </path>
                <polygon class="cls-11 device-9" data-toggle="tooltip" title="VFD1 Priority Pak Induction 3" points="181.947 286.414 195.009 286.414 195.009 279.889 181.947 286.414">
                    <title class="device-title-9"></title>
                </polygon>
                <path class="cls-11 device-10" data-toggle="tooltip" title="VFD1 Priority Pak Induction 2" d="M194.56,316.557v5.674H182.4v-5.674H194.56m.449-.448H181.947v6.57h13.062v-6.57Z">
                    <title class="device-title-10"></title>
                </path>
                <polygon class="cls-11 device-10" data-toggle="tooltip" title="VFD1 Priority Pak Induction 2" points="181.947 322.634 195.009 322.634 195.009 316.109 181.947 322.634">
                    <title class="device-title-10"></title>
                </polygon>
                <path class="cls-11 device-11" data-toggle="tooltip" title="VFD1 Priority Pak Induction 1" d="M194.56,353.013v5.675H182.4v-5.675H194.56m.449-.448H181.947v6.571h13.062v-6.571Z">
                    <title class="device-title-11"></title>
                </path>
                <polygon class="cls-11 device-11" data-toggle="tooltip" title="VFD1 Priority Pak Induction 1" points="181.947 359.09 195.009 359.09 195.009 352.565 181.947 359.09">
                    <title class="device-title-11"></title>
                </polygon>
                <path class="cls-11 device-12" data-toggle="tooltip" title="VFD1 T-Fold Induction 2" d="M194.112,387.6v5.674H181.947V387.6h12.165m.448-.449H181.5v6.571H194.56v-6.571Z">
                    <title class="device-title-12"></title>
                </path>
                <polygon class="cls-11 device-12" data-toggle="tooltip" title="VFD1 T-Fold Induction 2" points="181.499 393.679 194.56 393.679 194.56 387.154 181.499 393.679">
                    <title class="device-title-12"></title>
                </polygon>
                <path class="cls-11 device-13" data-toggle="tooltip" title="VFD2 T-Fold Induction 2" d="M181.374,394.01v5.674H169.209V394.01h12.165m.448-.448H168.761v6.57h13.061v-6.57Z">
                    <title class="device-title-13"></title>
                </path>
                <polygon class="cls-11 device-13" data-toggle="tooltip" title="VFD2 T-Fold Induction 2" points="168.761 400.086 181.822 400.086 181.822 393.561 168.761 400.086">
                    <title class="device-title-13"></title>
                </polygon>
                <path class="cls-11 device-14" data-toggle="tooltip" title="VFD1 T-Fold Induction 1" d="M194.112,422.912v5.674H181.947v-5.674h12.165m.448-.448H181.5v6.57H194.56v-6.57Z">
                    <title class="device-title-14"></title>
                </path>
                <polygon class="cls-11 device-14" data-toggle="tooltip" title="VFD1 T-Fold Induction 1" points="181.499 428.989 194.56 428.989 194.56 422.464 181.499 428.989">
                    <title class="device-title-14"></title>
                </polygon>
                <path class="cls-11 device-15" data-toggle="tooltip" title="VFD2 T-Fold Induction 1" d="M181.374,429.319v5.674H169.209v-5.674h12.165m.448-.448H168.761v6.57h13.061v-6.57Z">
                    <title class="device-title-15"></title>
                </path>
                <polygon class="cls-11 device-15" data-toggle="tooltip" title="VFD2 T-Fold Induction 1" points="168.761 435.396 181.822 435.396 181.822 428.871 168.761 435.396">
                    <title class="device-title-15"></title>
                </polygon>
                <path class="cls-12 device-1" data-toggle="tooltip" title="Barecode Reader" d="M166.61,114.682c-.842-1.128-4.079-5.619-4.079-7.931a4.08,4.08,0,1,1,8.159,0C170.69,109.064,167.452,113.554,166.61,114.682Z">
                    <title class="device-title-1"></title>
                </path>
                <path class="cls-13" data-toggle="tooltip" title="Barecode Reader" d="M166.61,102.921a3.834,3.834,0,0,1,3.83,3.83c0,1.915-2.481,5.682-3.83,7.515-1.348-1.833-3.829-5.6-3.829-7.515a3.834,3.834,0,0,1,3.829-3.83m0-.5a4.33,4.33,0,0,0-4.329,4.33c0,2.761,4.329,8.345,4.329,8.345s4.33-5.584,4.33-8.345a4.33,4.33,0,0,0-4.33-4.33Z">
                    <title class="device-title-1"></title>	
                </path>
                <path class="cls-11 device-0" data-toggle="tooltip" title="Main PLC" d="M138.624,141.029V146.7H126.46v-5.675h12.164m.448-.448H126.011v6.571h13.061v-6.571Z">
                    <title class="device-title-0"></title>
                </path>
                <polygon class="cls-11 device-0" data-toggle="tooltip" title="Main PLC" points="126.011 147.106 139.072 147.106 139.072 140.581 126.011 147.106">
                    <title class="device-title-0"></title>
                </polygon>
                <path id="estop-99" data-toggle="tooltip" data-html="true" title="Estop Loop Open<br>E-STOP_LOOP_CLOSED" class="cls-14" d="M108.363,137.773v10.864h10.865V137.773Zm5.432,9.054a3.622,3.622,0,1,1,3.622-3.622A3.622,3.622,0,0,1,113.8,146.827Z">
                    <title class="estop-title-99"></title>
                </path>
                <path data-toggle="tooltip" data-html="true" title="Estop Loop Open<br>E-STOP_LOOP_CLOSED" d="M118.728,138.273v9.864h-9.865v-9.864h9.865m.5-.5H108.363v10.864h10.865V137.773Z">
                    <title class="estop-title-99"></title>
                </path>
                <path data-toggle="tooltip" data-html="true" title="Estop Loop Open<br>E-STOP_LOOP_CLOSED" d="M113.8,140.584a2.622,2.622,0,1,1-2.621,2.621,2.625,2.625,0,0,1,2.621-2.621m0-1a3.622,3.622,0,1,0,3.622,3.621,3.621,3.621,0,0,0-3.622-3.621Z">
                    <title class="estop-title-99"></title>
                </path>
                </svg>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-lg-12 pt-0 pb-0 pl-2 pr-2 mt-4">
            <table class="table table-sm table-bordered">
                <thead>
                <tr>
                    <th width="20%">Timestamp</th>
                    <th width="10%">Duration</th>
                    <th width="10%">Class</th>
                    <th width="10%">Location</th>
                    <th width="20%">Description</th>
                    <th width="20%">Variable Name</th>
                </tr>
                </thead>
                <tbody id="active_alarm_tbody">
                    <tr>
                        <td colspan="6">No active alarm to display</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('footer', {currentMenu: 'status'}); %>
<script src="js/jquery-bootstrap.js"></script>
<script src="js/nav.js"></script>
<script>
let machine_mode = 9;
let alarm_class_to_names = {"0" : "Error", "1" : "Warning", "2" : "Message"};

jQuery(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
    jQuery("#ip_list_dropdown").change(function() {
        selected_machine = jQuery(this).val();

        if(selected_machine !== "") {
            let selected_machine_name = machine_list[selected_machine];
            jQuery("#display_machine_name").text(selected_machine_name);

            setInterval(() => {
                ipcRenderer.send("get:views", selected_machine, "status");
            }, 1000);
        } else {
            jQuery("#display_machine_name").text("Select a machine");
            selected_machine = 0;
        }

		ipcRenderer.send("get:views", selected_machine, "status");
		ipcRenderer.send("get:views", selected_machine, "device_titles");
    });
});

ipcRenderer.on("render:device_titles", function(e, titles_result) {
	console.log(titles_result);
	let devices_titles = titles_result['devices'];
	let estops_titles = titles_result['estops'];

	//TODO Shaiful Replace following commented lines with dynamic tool tip
	// for (let k in devices_titles) {
    //     let related_device_title_id = ".device-title-" + k;
	// 	let related_device_title_text = devices_titles[k];
	// 	jQuery(related_device_title_id).text(related_device_title_text+"Shaiful");
	// }

	// for (let k in estops_titles) {
    //     let related_estop_title_id = ".estop-title-" + k;
	// 	let related_estop_title_text = estops_titles[k];
	// 	jQuery(related_estop_title_id).text(related_estop_title_text+"shaiful");
	// }
});

ipcRenderer.on("render:status", function(e, status_result) {
   machine_mode = status_result['mode'];
   changeMachineNameBg(machine_mode);
    //console.log("Mode: ", machine_mode);

    $("[id*=estop]").css('fill', '#fff');
    let scanner_colors = {"0" : "#f00", "1" : "#808184"};
    let device_colors = {"0" : "#f00", "1" : "#231f20"};

    console.log(status_result);
    let alarms_result = status_result['alarms'];
    let devices_result = status_result['devices'];
    let estops_results = status_result['estops'];
    //console.log(estops_results);

    jQuery("#active_alarm_tbody").empty();

    for (let k in devices_result) {
        let related_device_class = "." + k;
        let related_device_status = devices_result[k];
        
        if(jQuery(related_device_class).length > 0) {
            let related_device_color = "#f00";

            if(k == "device-1") {
                related_device_color = scanner_colors[related_device_status];
            } else {
                related_device_color = device_colors[related_device_status];
            }
            jQuery(related_device_class).css("fill", related_device_color);
        }
    }

    if(!jQuery.isEmptyObject(estops_results)) {
        //console.log("entered here");
        for (let k in estops_results) {
            let related_estop_id = "#" + estops_results[k];
            
            if(jQuery(related_estop_id).length > 0) {
                jQuery(related_estop_id).css("fill", "#ff0");
            }
        }
    }

    if(!jQuery.isEmptyObject(alarms_result)) {
        for (let k in alarms_result) {
            let related_alarm_gui_id = k;
            let related_alarm_info = alarms_result[k];
            
            let alarm_type = related_alarm_info['alarm_type'], 
            alarm_description = related_alarm_info['description'], 
            alarm_class = related_alarm_info['alarm_class'], 
            alarm_location = related_alarm_info['location'], 
            variable_name = related_alarm_info['variable_name'], 
            timestamp = related_alarm_info['timestamp'],
            duration = related_alarm_info['duration'];

            timestamp = timeConverter(timestamp);
            
            let tr_html = '<tr>' + 
                '<td>' + timestamp + '</td>'+
                '<td>' + secondsToDhms(duration) + '</td>'+
                '<td>' + alarm_class_to_names[alarm_class] + '</td>'+
                '<td>' + alarm_location + '</td>'+
                '<td>' + alarm_description + '</td>'+
                '<td>' + variable_name + '</td>'+
                '</tr>';

            jQuery("#active_alarm_tbody").append(tr_html);
        }
    } else {
        let tr_html = '<tr><td colspan="6">No active alarm to display</td></tr>';
        jQuery("#active_alarm_tbody").append(tr_html);
    }
});
</script>
</body>
</html>